	<div class="product">
		<img src="../img/product/tem_specimen_holder/646_Universal_Cradle.jpg">
		<h2>646 Double Tilt Analytical Holder </h2>
		<h3></h3>
		<p>The 646 Double Tilt Analytical Holder incorporates design features optimized for electron diffraction and EDS analysis of crystalline TEM specimens.   ...</p>
		
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#646">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="646" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">646 Double Tilt Analytical Holder </h4>
						<h5></h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/tem_specimen_holder/646_Universal_Cradle.jpg">
						<p>The 646 Double Tilt Analytical Holder incorporates design features optimized for electron diffraction and EDS analysis of crystalline TEM specimens. </p>
						<h2>Key Features</h2>
						<h3>Analytical design</h3>
							<p>Specimen cradle, Hexring® and Anti-twist washer are made of beryllium for analytical applications</p>
						<h3>ToggleTilt™ beta drive mechanism</h3>
							<p>Robust operation with no mechanical binding of the specimen cradle at tilt limits</p>
							<p>Maximum +/- 30° using TEM control</p>
							<p>Maximum +/- 45° using Accutroller</p>
						<h3>Reduced Shadowing</h3>
							<p>Optimized for EDS analysis</p>
						<h3>Faraday Cup</h3>
							<p>Quantitative measurement of the incident electron beam current </p>
							
						<a href="http://www.gatan.com/products/specimen_holders/products/646_DoubleTilt.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/tem_specimen_holder/925.jpg">
		<h2>925 Double Tilt Rotation Analytical Holder </h2>
		<h3></h3>
		<p>The 925 Double Tilt Rotation Analytical Holder combines double tilt capability and continuous rotation of the sample through 360º facilitating in-situ orientation of fragile specimens.  ...</p>
		
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#925">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="925" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">925 Double Tilt Rotation Analytical Holder </h4>
						<h5></h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/tem_specimen_holder/925.jpg">
						<p>The 925 Double Tilt Rotation Analytical Holder combines double tilt capability and continuous rotation of the sample through 360º facilitating in-situ orientation of fragile specimens. </p>
						<h2>Key Features</h2>
						<h3>Ultimate specimen orientation</h3>
							<p>Simultaneous adjustment of the alpha and beta axis tilt and rotation at any orientation of the specimen</p>
						<h3>Analytical design</h3>
							<p>Specimen cradle, Hexring® and Anti-twist are made of beryllium </p>
						<h3>Manual rotation mechanism</h3>
							<p>High strength, titanium-geared precision cradle  rotation mechanism</p>
							<p>Smooth, continuous 360º rotation in both directions with minimum backlash and low vibration</p>
						<h3>Manual micrometer tilt adjustment</h3>
							<p>Precision beta tilt drive</p>
						<a href="http://www.gatan.com/products/specimen_holders/products/925_DTRotation.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->