	<div class="product">
		<img src="../img/product/tem_specimen_holder/636_Universal_Cradle.jpg">
		<h2>636 Double Tilt Liquid Nitrogen Cooling Holder </h2>
		<h3></h3>
		<p>636 Double Tilt Liquid Nitrogen Cooling Holder is used in applications to observe low temperature in-situ phase transitions and to reduce contamination due to carbon migration.  It can also be used to reduce unwanted thermal effects in various analytical techniques and to facilitate EDS   ...</p>
		
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#636">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="636" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">636 Double Tilt Liquid Nitrogen Cooling Holder </h4>
						<h5></h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/tem_specimen_holder/636_Universal_Cradle.jpg">
						<p>636 Double Tilt Liquid Nitrogen Cooling Holder is used in applications to observe low temperature in-situ phase transitions and to reduce contamination due to carbon migration.  It can also be used to reduce unwanted thermal effects in various analytical techniques and to facilitate EDS and EELS analyses by reducing contamination and mass loss.  </p>
						<h2>Key Features </h2>
						<h3>Low drift design</h3>	
							<p>High mechanical stability by conduction cooling from well-insulated, bubble-free dewar</p>
						<h3>Analytical Design</h3>	
							<p>Specimen cradle, Hexring® and Anti-twist washer are made of beryllium for analytical applications</p>
						<h3>Precise Temperature Control</h3>	
							<p>Temperature of the holder is monitored by a calibrated silicon diode which provides a sensitive, linear temperature response</p>
							<p>The conductor rod connecting the specimen holder tip to the liquid nitrogen dewar contains an electric heater to control the specimen temperature</p>
						<h3>ToggleTilt™ beta drive mechanism</h3>	
							<p>Robust operation with no mechanical binding of the specimen cradle at tilt limits</p>
							<p>Maximum +/- 30º using TEM control</p>
							<p>Maximum +/- 45º using Accutroller</p>
						<a href="http://www.gatan.com/products/specimen_holders/products/636-Double-Tilt-Liquid-Nitrogen-Cooling-Holder.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->