	<div class="product">
		<img src="../img/product/tem_specimen_holder/626_70_Tip.jpg">
		<h2>626 Single Tilt Liquid Nitrogen Cryo Transfer Holder </h2>
		<h3></h3>
		<p>The 626 Single Tilt Liquid Nitrogen Cryo Transfer Holder is designed for low temperature transfer and subsequent recording of electron beam sensitive, frozen hydrated specimens in the TEM. ...</p>
		
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#626">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="626" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel"> 626 Single Tilt Liquid Nitrogen Cryo Transfer Holder</h4>
						<h5></h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/tem_specimen_holder/626_70_Tip.jpg">
						<p>The 626 Single Tilt Liquid Nitrogen Cryo Transfer Holder is designed for low temperature transfer and subsequent recording of electron beam sensitive, frozen hydrated specimens in the TEM.</p>
						<h2>Key Feature</h2>
						<h3>Frost-free specimen transfer</h3>
							<p>Light weight cryo workstation provides low temperature specimen loading to protect the frozen hydrated grid</p>
							<p>One piece cryo shield encapsulates the frozen hydrated grid providing protection against damage caused by warming and frost formation during transfer from the workstation to the electron microscope</p>
						<h3>High resolution performance</h3>
							<p>Stable specimen temperature minimizes thermal drift to ensure high resolution performance</p>
						<h3>Clipring™ specimen securing mechanism</h3>
							<p>Maintains excellent thermal contact between the specimen holder and the frozen hydrated specimen grid</p>
							<p>Accessory Cliprings are sized to accommodate silicon nitride TEM window grids</p>
						<h3>Robust design</h3>
							<p>Easy to use for beginner (60º version) or intermediate to expert (70º version) cryo electron microscopist</p>
						<h3>Precise temperature measurement</h3>
							<p>Temperature of the holder is monitored by a calibrated silicone diode that provides a sensitive, linear temperature response</p>
							<p>The conductor rod connecting the specimen holder tip to the liquid nitrogen dewar contains an electric heater to change the specimen temperature</p>
						<h3>Optional analytical design</h3>
							<p>Specimen cradle, Hexring® and Anti-twist washer are made of beryllium for analytical applications</p>
						<a href="http://www.gatan.com/products/specimen_holders/products/626_CryoTransfer.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->