	<div class="product">
		<img src="../img/product/tem_specimen_holder/652.jpg">
		<h2>652 Double Tilt Heating Holder </h2>
		<h3></h3>
		<p>The 652 Double Tilt Heating Holder is a furnace type holder that allows the direct observation of micro structural phase changes, nucleation, growth and dissolution processes. ...</p>
		
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#652">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="652" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">652 Double Tilt Heating Holder </h4>
						<h3></h3>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/tem_specimen_holder/652.jpg">
						<p>The 652 Double Tilt Heating Holder is a furnace type holder that allows the direct observation of micro structural phase changes, nucleation, growth and dissolution processes.</p>
						<h2>Key Features</h2>
						<h3>High performance material</h3>
							<p>Mechanical link between the heater and the stage is made of a material with near zero coefficient of expansion to minimize thermal drift</p>
						<h3>Effective temperature control</h3>
							<p>Temperature at specimen holder tip is maintained near the temperature of the specimen stage using water cooled specimen rod</p>
						<h3>Minimal heat loss design</h3>
							<p>Heat loss from the furnace to the specimen tip is minimized by careful design of the ceramic furnace supports</p>
						<h3>Robust beta tilt mechanism</h3>
							<p>ToggleTilt™ drive mechanism provides maximum tilt with no mechanical binding</p>
						<a href="http://www.gatan.com/products/specimen_holders/products/652_DoubleTiltHolder.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->