	<div class="product">
		<img src="../img/product/tem_specimen_holder/927_Tip_030109.jpg">
		<h2>927 Dual Orientation Room Temperature Holder </h2>
		<h3></h3>
		<p>The 927 Dual Orientation Room Temperature Holder allows the specimen to be rotated by a fixed 90º angle. ...</p>
		
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#927">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="927" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">927 Dual Orientation Room Temperature Holder </h4>
						<h5></h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/tem_specimen_holder/927_Tip_030109.jpg">
						<p>The 927 Dual Orientation Room Temperature Holder allows the specimen to be rotated by a fixed 90º angle. </p>
						<h2>Key Features</h2>
						<h3>Rotation / Dual orientation</h3>
							<p>One touch +/- 90º planar rotation of specimen</p>
						<h3>Specimen securing mechanism</h3>
							<p>Low profile C-ring securely holds the specimen while providing the maximum field of view at high tilt angles</p>
						<h3>C-ring tool</h3>
							<p>Low profile C-ring securely holds the specimen while providing the maximum field of view at high tilt angles</p>
						<h3>Loading stand</h3>
							<p>Securely supports holder during insertion / removal of specimen </p>
							
						<a href="http://www.gatan.com/products/specimen_holders/products/927_DualOrientation.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->