	<div class="product">
		<img src="../img/product/specimen_preparation/Solarus_DatasheetFL3.png">
		<h2>950 Solarus </h2>
		<h3>Advanced Plasma Cleaning System</h3>
		<p>A totally NEW advanced plasma cleaning system for removal of hydrocarbon contamination on TEM and SEM samples. Solarus is a new generation plasma system engineered on new concepts and ...</p>
		
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#product13">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="product13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Solarus™ (Model 950)</h4>
						<h3>Advanced Plasma Cleaning System</h3>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/specimen_preparation/Solarus_DatasheetFL3.png">
						<p>A totally NEW advanced plasma cleaning system for removal of hydrocarbon contamination on TEM and SEM samples. Solarus is a new generation plasma system engineered on new concepts and the latest technology resulting in better performance, simplified use and consistent cleaning results. It is radically different from any plasma system available in the market offering the most effective cleaning.</p>
						<a href="http://www.gatan.com/products/specimen_prep/products/950_Solarus.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->