	<div class="product">
		<img src="../img/product/specimen_preparation/Ilion_II_beauty_right-small.png">
		<h2>Ilion II Model 697 </h2>
		<h3> Low Energy Surface Preparation for SEM Cross Section Viewing</h3>
		<p>The Ilion™ II Broad Beam Argon Milling System is a table top tool for producing cross sections and for planar polishing of samples, for examination in the SEM and other instruments. ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#product1">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="product1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Ilion II Model 697</h4>
						<h4> Energy Surface Preparation for SEM Cross Section Viewing</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/specimen_preparation/Ilion_II_beauty_right-small.png">
						<p>The Ilion™ II Broad Beam Argon Milling System is a table top tool for producing cross sections and for planar polishing of samples, for examination in the SEM and other instruments. Ilion II is suitable for polishing a wide range of materials, including samples made from multiple elements and alloys with a wide range of mechanical hardness, size and other physical characteristics.</p>
						<p>The Ilion II incorporates Gatan’s Whisperlok® for sample exchange and an optional temperature controlled liquid nitrogen cooling stage. </p>
						<p>The Ilion II incorporates a 10 inch touch screen computer for ease of use and increased control and reproducibility of the polishing process. The Digital Zoom Microscope monitors the polishing process in real time and the color images can be stored in Gatan’s DigitalMicrograph® software for review and analysis while the sample is in the SEM.</p>
						<a href="http://www.gatan.com/products/specimen_prep/products/697_Ilion_II.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/specimen_preparation/spec_sem.gif">
		<h2>Model 681 High Resolution Ion Beam Coater</h2>
		<h3>High Resolution Ion Beam Coating System for SEM and TEM</h3>
		<p>A unique ion beam based sputter coating system producing continuous, ultra thin, amorphous coatings free of thermal artifacts making them ideal for FESEM and TEM applications. ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#product2">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="product2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Model 681 High Resolution Ion Beam Coater</h4>
		        		<h5>High Resolution Ion Beam Coating System for SEM and TEM</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/specimen_preparation/spec_sem.gif">
						<p>A unique ion beam based sputter coating system producing continuous, ultra thin, amorphous coatings free of thermal artifacts making them ideal for FESEM and TEM applications. This is an important advantage over traditional coating techniques such as thermal evaporation, magnetron or RF sputtering that produces coarse deposition structures.</p>
						<p>Two Compact Ion Sources produce high sputtering rates. Coating times vary from about 10 seconds to 2 minutes depending on target material, ion beam energy and coating thickness.</p>
						<p>A Whisperlok™ mechanism provides true "Fast Specimen Exchange" 
(<1 minute) thus eliminating venting the complete chamber to atmosphere when loading and unloading samples. A second key feature is providing variable speed sample rotation along with simultaneous rocking to ensure uniform sample coating.
TEM Whisperlok™ Adapters (Optional) offers the ability to accept all makes of side-entry TEM or SEM sample holders. Samples may be coated at low temperatures using TEM cryoholders if required.</p>
						<p>Multiple Targets: The target exchange mechanisms permits selection of one of two available target materials within seconds without breaking vacuum. Adding a second target exchange mechanism (Optional) allows the user two additional targets for a total of four target materials. Dormant targets within the chamber are fully shielded from sputter contamination.</p>
						
						<a href="http://www.gatan.com/products/specimen_prep/products/681_HighResIonBeamCoater.php" target="_blank">read more</a>

		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/specimen_preparation/spec_sem.gif">
		<h2>Model 682 PECS</h2>
		<h3>Precision Etching Coating System for SEM, TEM and LM</h3>
		<p>The ideal instrument for any application requiring sample etching and/or high-resolution sputter coating. The PECS™ is a unique ion beam based etching and sputter coating system producing ...</p> 
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#product3">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="product3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Model 682 PECS</h4>
		        		<h4>Precision Etching Coating System for SEM, TEM and LM</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/specimen_preparation/spec_sem.gif">
		      			<p>The ideal instrument for any application requiring sample etching and/or high-resolution sputter coating. The PECS™ is a unique ion beam based etching and sputter coating system producing exceptionally large, clean, viewable areas of specimens for Scanning Electron Microscope (SEM), Transmission Electron Microscope (TEM) and Light Microscope (LM) applications. The unique design features incorporated into the PECS™ make it very versatile.</p>
						<a href="http://www.gatan.com/products/specimen_prep/products/682_PECS.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>
	
	<div class="product">
		<img src="../img/product/specimen_preparation/spec_sem.gif">
		<h2>Model 683 Met-Etch</h2>
		<h3>Preparation of Metallographic Materials by Ion Beam Etching</h3>
		<p>The Met-Etch offers an ion beam etching-only alternative to the multi-functional PECS™ system. It is a cost effective, affordable, next-generation apparatus for the preparation of metallographic ...</p>
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#product4">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="product4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Model 683 Met-Etch</h4>
						<h4>Preparation of Metallographic Materials by Ion Beam Etching</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/specimen_preparation/spec_sem.gif">
						<p>The Met-Etch offers an ion beam etching-only alternative to the multi-functional PECS™ system. It is a cost effective, affordable, next-generation apparatus for the preparation of metallographic samples that do not require sputter coating. Typical applications include Scanning Electron Microscopy (SEM or high resolution FESEM) and Light Microscopy (LM). Quality samples are produced in a clean environment, under a controlled process with reproducible results. The ion beam etching technique used avoids the hazards and costs associated with wet chemical etching.</p>
						<a href="http://www.gatan.com/products/specimen_prep/products/683_MetEtch.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>