<div class="product">
	<img src="../img/product/specimen_preparation/PIPS2-right1_copy.gif">
	<h2>695 PIPS II </h2>
	<h3>695 Precision Ion Polishing System II (PIPS™ II)</h3>
  	<p>The Precision Ion Polishing System II (PIPS™II) is a revolutionary enhancement of the PIPS™ Ion Mill System which has defined the standard for TEM sample preparation for 20 years. ...</p>
	
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product5">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">695 PIPS II</h4>
					<h3>695 Precision Ion Polishing System II (PIPS™ II)</h3>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/PIPS2-right1_copy.gif">
					<p>The Precision Ion Polishing System II (PIPS™II) is a revolutionary enhancement of the PIPS™ Ion Mill System which has defined the standard for TEM sample preparation for 20 years.</p>
					<p>The PIPS™II incorporates the patented Whisperlok® with the X,Y positioning stage for precise centering of the milling target. The PIPS™II incorporates a 10 inch touch screen for ease of use and increased control and reproducibility of the milling process.</p>
					<p>The Digital Zoom Microscope monitors the polishing process in real time and the color images can be stored in Gatan’s Digital Micrograph® software for review and analysis while the sample is in the TEM.</p>
					<a href="http://www.gatan.com/products/specimen_prep/products/695_PIPSII.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div> <!-- end .product -->

<div class="product">
	<img src="../img/product/specimen_preparation/graphite_holder.png">
	<h2>PIPS Specimen Holders</h2>
	<h3>Three unique PIPSTM holders have been developed</h3>
	<p>The Graphite Holder offers the same double-sided low-angle milling (ion polishing) as the aluminum DuoPosts™ while providing additional benefits. ...</p>
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product6">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">PIPS Specimen Holders</h4>
	        		<h5>Three unique PIPSTM holders have been developed</h5>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/graphite_holder.png">
					<p>The Graphite Holder offers the same double-sided low-angle milling (ion polishing) as the aluminum DuoPosts™ while providing additional benefits.</p>
					<p>Three unique PIPSTM holders have been developed to service all TEM specimen</p>
					requirements:
					<ul>
						<li>The clamp type DuoPost™ for ease of use and quick specimen exchange.</li>
						<li>The glue type DuoPost™ for brittle and heat sensitive specimens.</li>
						<li>The Graphite holder offering reduced contamination and 'X' translation of specimen.</li>
					</ul>
					<br>
					<p>Each holder allows double-sided milling down to angles less than 1 degree. Design of the DuoPostTM and Graphite holder imparts minimal beam exposure and coupled with Beam Modulation significantly extends holder life. Two custom fixtures (Loading Docks) are provided to simplify specimen loading onto these holders.</p>
					

					<a href="http://www.gatan.com/products/specimen_prep/products/PIPS_SpecimenHolders.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div> <!-- end .product -->

<div class="product">
	<img src="../img/product/specimen_preparation/601.png">
	<h2>Model 601 TPC-Tool Ultrasonic Cutter</h2>
	<h3>The new Ultrasonic Cutter</h3>
	<p>The new Ultrasonic Cutter with variable tuning outperforms the older Model 601 delivering improved power, performance and versatility. Expand your ability to cut brittle materials ... </p>
	
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product7">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">Model 601 TPC-Tool Ultrasonic Cutter</h4>
	        		<h5>The new Ultrasonic Cutter</h5>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/601.png">
					<p>The new Ultrasonic Cutter with variable tuning outperforms the older Model 601 delivering improved power, performance and versatility. Expand your ability to cut brittle materials beyond the 3mm TEM disc. Our wide variety of cutting tools ranging from &lt; 1mm to 10mm enables you to accurately cut holes or unique shapes. </p>
					<p>The proven and most effective method employed for rapid cutting brittle materials is mechanically coupling a piezo crystal to a shaped tubular cutting tool. A variable frequency driver delivers the ultimate in cutting performance regardless of cutting tool size or shape. Quickly cut simple holes, unique shapes or TEM discs from hard, brittle materials such as semiconductors, ceramics and geological materials. Materials ranging in thickness from &lt; 40µm to 5mm are quickly and easily cut utilizing a piezo-electric crystal driving a tubular cutting tool in a fine grain, boron carbide slurry. The manually tuned frequency driver will optimize cutting speed while minimizing mechanical and thermally induced damage. Tuning offers efficiency, reliability and flexibility.</p>
					<p>A spring-loaded platform applies a constant force to advance the table upward parallel to the cutting tool. The sample table is magnetically held in position preventing lateral movement relative to the cutting tool, reducing edge chipping and sample damage. The included stereo microscope and X-Y positioning table enables precise centering of a site specific area. A broad selection of round, square or rectangular cutting tools are available for standard TEM applications as well as those applications requiring special shapes or forms. </p>
					<p>The Model 623.4000X Specimen Mounting Hot Plate is recommended as a safe and reliable means of applying the low melting point wax required to securely attach specimen materials being cut.</p>
					<a href="http://www.gatan.com/products/specimen_prep/products/601_UltrasonicCutter.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div>

<div class="product">
	<img src="../img/product/specimen_preparation/601_crosssectionkit.gif">
	<h2>601.07000 Cross-Sectional Kit</h2>
	<h3>Simplifies producing TEM specimen cross-sections</h3>
	<p>The ideal kit for preparing XTEM samples of semiconductor devices, thin films of various substrates and composites. Quickly and easily prepare XTEM samples for TEM study of ....</p>
	
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product8">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">601.07000 Cross-Sectional Kit</h4>
					<h4>Simplifies producing TEM specimen cross-sections</h4>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/601_crosssectionkit.gif">
					<p>The ideal kit for preparing XTEM samples of semiconductor devices, thin films of various substrates and composites.</p>
					<p>Quickly and easily prepare XTEM samples for TEM study of interfaces with greater consistency.</p>
					<p>Used in conjunction with the Ultrasonic Cutter, rectangular areas of interest are cut from bulk material. These sections are coated with epoxy, stacked and cured under pressure to obtain a strong bond with minimum glue thickness (&lt; 1µm).</p>
					<p>A cylinder is cut from the stack, inserted into a brass tube for final sectioning and eventually dimpling prior to ion milling.</p>
					<a href="http://www.gatan.com/products/specimen_prep/products/601_0700_CrossSectionKit.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div> <!-- end .product -->

<div class="product">
	<img src="../img/product/specimen_preparation/disk-grinder.png">
	<h2>Model 623 Disc Grinder</h2>
	<h3>Precisely control sample thickness</h3>
	<p>Pre-thins and polishes samples to reduce ion milling times and improve quality. The 623 produces parallel sided samples quickly and easily and the larger micrometer dial displays the thickness ...</p>
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product9">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">Model 623 Disc Grinder</h4>
					<h4>Precisely control sample thickness</h4>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/disk-grinder.png">
					<p>Pre-thins and polishes samples to reduce ion milling times and improve quality. The 623 produces parallel sided samples quickly and easily and the larger micrometer dial displays the thickness in microns (µm).</p>
					<p>The ultra-fine thread and pre-loading of the drive screw result in excellent and dependable control of the final specimen thickness within 5µm accuracy.</p>
					<p>The cylindrical mount to which the specimen is attached for grinding fits directly into the 656 Dimple Grinder should additional mechanical thinning be required.</p>
					<p>Two models are available, both offering the same robust design to ensure long, reliable service (Sample size to 9mm) (Sample size to 22mm).</p>
					<p>Optional - Specimen Lapping Kit provides a metal base holding 3 glass lapping plates and 3 grades of lapping discs (40, 15 and 5 µm).</p>
					<a href="http://www.gatan.com/products/specimen_prep/products/623_DiscGrinder.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div> <!-- end .product -->

<div class="product">
	<img src="../img/product/specimen_preparation/dimple-grinder.png">
	<h2>Model 656 Dimple Grinder</h2>
	<h3>Rapid material removal with minimal damage</h3>
	<p>Dimple grinding offers a fast and reliable mechanical method of pre-thinning to near electron transparency (in some cases to electron transparency) greatly reducing ion milling ...</p>
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product10">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">Model 656 Dimple Grinder</h4>
	        		<h4>Rapid material removal with minimal damage</h4>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/dimple-grinder.png">
	      			<p>Dimple grinding offers a fast and reliable mechanical method of pre-thinning to near electron transparency (in some cases to electron transparency) greatly reducing ion milling times and uneven thinning.</p>
	      			<p>Dimple grinding offers a means of producing quality TEM specimens having a large central area only a few microns thick surrounded by a robust outer rim. This eliminates special handling techniques for fragile specimens.</p>
	      			<p>Dimple grinding and subsequent polishing with felt wheels provides an exceptionally smooth surface reducing the prospect of surface irregularities developing in the final ion beam thinning operation, increasing the yield of the electron transparent area.</p>
	      			<p>A dual measuring system, digital micrometer and analog dial indicator, provides accurate depth and thickness control to within 1 micron.</p>
	      			<p>Simple, easy operation with optimum performance.. Zero the digital reading by lowering the grinding wheel onto the specimen mount. Adjust the micrometer to set the desired final thickness on th digital display and begin dimpling.</p>
	      			<p>A 40X microscope mounts over the specimen rotation table to precisely align a specific site with to the centerline of the grinding wheel. When used with the Pyrex specimen mounts the transmitted light shows the change of color relative to thickness for semiconductor materials. </p>
					<a href="http://www.gatan.com/products/specimen_prep/products/656_DimpleGrinder.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div><!-- .product -->

<div class="product">
	<img src="../img/product/specimen_preparation/disk-punch.png">
	<h2>Model 659 Disc Punch</h2>
	<h3>Rapidly cut TEM discs from ductile and soft materials</h3>
	<p>The 659 is the preferred method for cutting TEM discs from metals, alloys and all ductile materials. Design of the cutting piston avoids compression of the sample preventing plastic ...</p>
	
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product11">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">Model 659 Disc Punch</h4>
	        		<h4>Rapidly cut TEM discs from ductile and soft materials</h4>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/disk-punch.png">
					<p>The 659 is the preferred method for cutting TEM discs from metals, alloys and all ductile materials.</p>
					<p>Design of the cutting piston avoids compression of the sample preventing plastic distortion of the disc during the punching process, particularly in the central region of the specimen.</p>
					<p>The mechanical cam leverage ensures uniform application of pressure to the specimen while the exact fit between the cutting piston and the spring-loaded support piston guarantees a sharp cut edge and easy ejection of the punched disc.</p>
					<p>The position of the punched area is easily seen and each punched disc is ejected into a small removable tray to simplify collection and allow fast, single motion multiple punching.</p>
					<p>Available as Model 659.00001 the 3mm version or Model 659.00002 the 2.3mm version</p>
					
					<a href="http://www.gatan.com/products/specimen_prep/products/659_DiscPunch.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div><!-- .product -->

<div class="product">
	<img src="../img/product/specimen_preparation/cryoplung.png">
	<h2>Cryoplunge™3</h2>
	<h3>Semi-automatic plunge freezing instrument </h3>
	<p>The Cryoplunge™3 with GentleBlot™ Technology is a semi-automatic plunge freezing instrument used for the preparation of frozen hydrated specimens for cryoEM. ...</p>
	
	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#product12">
			read more
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="product12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">Cryoplunge™3</h4>
	        		<h5>Semi-automatic plunge freezing instrument </h5>
	      		</div>
	      		<div class="modal-body">
					<img src="../img/product/specimen_preparation/cryoplung.png">
					<p>The Cryoplunge™3 with GentleBlot™ Technology is a semi-automatic plunge freezing instrument used for the preparation of frozen hydrated specimens for cryoEM.</p>
					
					<a href="http://www.gatan.com/products/specimen_prep/products/CryoPlunge3.php" target="_blank">read more</a>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div> <!-- end #myModal -->
</div><!-- .product -->