		<div id="nav-title">
			<a class="title" href="index.html"><img id="logo" src="img/logo_colour.png" alt="Title"></a>
			<!-- 
			<form id="search-form">
				<input type="text" id="search-box" name="search-box" placeholder="Search Box">
				<input type="submit" value="" id="search-submit">
			</form>
			-->
			
			<div style="position:absolute; right:23px; width:290px;">
			<script>
			  (function() {
			    var cx = '013722423441895850823:a6e2emforpg';
			    var gcse = document.createElement('script');
			    gcse.type = 'text/javascript';
			    gcse.async = true;
			    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			        '//www.google.com/cse/cse.js?cx=' + cx;
			    var s = document.getElementsByTagName('script')[0];
			    s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
			<gcse:search></gcse:search>
			</div>
		</div><!-- end #nav-title -->
		
		<div id="nav">
			<ul class="nav">
				<li><a href="index.html">HOME</a></li>
				<li><a href="about.html">ABOUT US</a></li>
				<li><img src="img/nav-border.png"></li>
				<li class="parent" onmouseover="this.className='parentOn'" onmouseout="this.className='parent'">
					<a href="products.html">PRODUCTS</a>
					<ul>
						<li><a href="product/analytical_tem.html">Analytical TEM</a></li>
						<li><a href="product/specimen_preparation.html">Specimen Preparation</a></li>
						<li><a href="product/micro_ct.html">Micro CT</a></li>
						<li><a href="product/tem_specimen_holder.html">TEM Specimen Holders</a></li>
						<li><a href="product/digital_imaging.html">Digital Imaging</a></li>
						<li><a href="product/sem_product.html">SEM Products</a></li>
					</ul>
				</li>
				<li><img src="img/nav-border.png"></li>
				<li><a href="service.html">SERVICE</a></li>
				<li><img src="img/nav-border.png"></li>
				<li><a href="newsletter.html">NEWSLETTERS</a></li>
				<li><img src="img/nav-border.png"></li>
				<li><a href="contact.html">CONTACTS</a></li>
			</ul><!-- end .nav -->
		</div><!-- end #nav -->