	<div class="product">
		<img src="../img/product/micro_ct/1272.jpg">
		<h2>SkyScan1272 </h2>
		<p>The system can nondestructively visualize up to 209 Megapixel (14450x14450 pixels) virtual slices through objects, more than 2600 such slices after a single scan using newly developed 16Mp and 11Mp X-ray detectors in up to three offset positions. ...</p>
		
		<button class="btn btn-primary" data-toggle="modal" data-target="#1272">
			read more
		</button>
		<!-- Modal -->
		<div class="modal fade" id="1272" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan1272</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/1272.jpg">
		      			<p>The system can nondestructively visualize up to 209 Megapixel (14450x14450 pixels) virtual slices through objects, more than 2600 such slices after a single scan using newly developed 16Mp and 11Mp X-ray detectors in up to three offset positions.</p>
		      			<p>Due to phase-contrast enhancement, object details as small as 0.35um can be detected. The innovative flexible acquisition geometry of the SkyScan1272 scanner is particularly advantageous over intermediate resolution levels, where scans are several times faster (to obtain the same or better image quality) compared to micro-CT systems with a fixed source-detector design.</p>
		      			<p>For any sample, which can be up to 75mm in diameter, the system can automatically optimize x-ray energy and energy filtering using a new maintenance-free X-ray source and automatic 6-position filter changer. Large format imaging has been supported by multithreaded GPU-accelerated 3D-reconstruction and realistic visualization by surface and volume rendering.</p>
		      			
		      			<a href="http://www.skyscan.be/products/1272.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>
	
	
	<div class="product">
		<img src="../img/product/micro_ct/1172.jpg">
		<h2>SkyScan1172 high-resolution micro-CT</h2>
		<p>The innovative flexible geometry of the SkyScan 1172 scanner is particularly advantageous over intermediate resolution levels, where scans are several times faster (to obtain the same or better image quality) compared to micro-CT systems ... </p>	
		
		<button class="btn btn-primary" data-toggle="modal" data-target="#1172">
			read more
		</button>
		<!-- Modal -->
		<div class="modal fade" id="1172" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan1172 high-resolution micro-CT</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/1172.jpg">
						<p>The innovative flexible geometry of the SkyScan 1172 scanner is particularly advantageous over intermediate resolution levels, where scans are several times faster (to obtain the same or better image quality) compared to micro-CT systems with a fixed source-detector design.</p>
						<p>The new large format cooled x-ray digital camera achieves high spatial resolution without compromising sample size. Fast scan and reconstruction throughput is supported by a computer cluster option, which reconstructs scan datasets in less time than the scan duration in most cases, using several PCs in parallel.</p>
		      			<a href="http://www.skyscan.be/products/1172.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>
	
	<div class="product">
		<img src="../img/product/micro_ct/1173.jpg">
		<h2>SkyScan1173 high energy spiral scan micro-CT</h2>
		<p>The SkyScan 1173 system includes a newly developed 130kV microfocus X-ray source with improved stability of focal spot position, a large format (&gt;5Mp) flat panel sensor with special protection by lead-glass fiber-optic window ...</p>
		
		<button class="btn btn-primary" data-toggle="modal" data-target="#1173">
			read more
		</button>
		<!-- Modal -->
		<div class="modal fade" id="1173" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan1173 high energy spiral scan micro-CT</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/1173.jpg">
						<p>The SkyScan 1173 system includes a newly developed 130kV microfocus X-ray source with improved stability of focal spot position, a large format (&gt;5Mp) flat panel sensor with special protection by lead-glass fiber-optic window for ...</p> 
		      			<a href="http://www.skyscan.be/products/1173.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>
	
	<div class="product">
		<img src="../img/product/micro_ct/1174.jpg">
		<h2>  SkyScan1174 compact micro-CT</h2>
		<p>This scanner uses an x-ray source with adjustable voltage and a range of filters for versatile adaptation to different object densities. A sensitive 1.3 megapixel x-ray camera allows scanning of your whole sample volume in several minutes. ...</p>
		<button class="btn btn-primary" data-toggle="modal" data-target="#1174">
			read more
		</button>
		<!-- Modal -->
		<div class="modal fade" id="1174" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan1174 compact micro-CT</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/1174.jpg">
						<p>This scanner uses an x-ray source with adjustable voltage and a range of filters for versatile adaptation to different object densities. </p>
						<p>A sensitive 1.3 megapixel x-ray camera allows scanning of your whole sample volume in several minutes. Variable magnification (6-30 µm pixel size) is combined with object positioning for easy selection of the object part to be scanned. The scanner can run from any desktop or portable computer, requiring just one USB (or serial) port and a FireWire (IEEE1394) input. The full range of SkyScan software is supplied, including fast volumetric reconstruction, software for 2D / 3D quantitative analysis and for realistic 3D visualization.</p>
		      			<a href="http://www.skyscan.be/products/1174.html" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>
	
	<div class="product">
		<img src="../img/product/micro_ct/1176_1.jpg">
		<h2>  SkyScan1176 in-vivo micro-CT</h2>
		<p>The SkyScan 1176 is a high performance in vivo micro-CT scanner for preclinical research. The large format 11 megapixel x-ray camera gives an unrivalled combination of resolution, image field size and scan speed - everything that is required ...</p>
		<button class="btn btn-primary" data-toggle="modal" data-target="#1176">
			read more
		</button>
		<!-- Modal -->
		<div class="modal fade" id="1176" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan1176 in-vivo micro-CT</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/1176_1.jpg">
						<p>The SkyScan 1176 is a high performance in vivo micro-CT scanner for preclinical research. The large format 11 megapixel x-ray camera gives an unrivalled combination of resolution, image field size and scan speed - everything that is required in a busy and demanding biomedical research laboratory.</p>
						<p>Image field width up to 68 mm allows full body mouse and rat scanning and distal limb scanning for big animals, such as rabbits, at pixel sizes of 9, 18 and 35µm. Variable x-ray applied voltage and filters provide scanning flexibility to allow imaging of a wide range of samples from lung tissue to bone with titanium implants. </p>
						<p>Animal beds for rats and mice are available made of carbon fiber or polystyrene foam. An integrated physiological monitoring subsystem provides breathing and heart-beat gating for proven thoracic image improvement by synchronized acquisition. The full range of SkyScan software is supplied, including fast volumetric reconstruction, software for 2D / 3D quantitative analysis and for realistic 3D visualization. </p>
						<p>The software for 4D time-resolved microtomography is also supplied as standard. The scanner can work in "push button" mode with scanning start/stop and protocol setting from the integrated touch screen. The touch screen has a force sensitive surface allowing normal response to a hand in gloves. The main control rack-mounted workstation is integrated below the scanner. The scanner can be optionally supplied with an integrated cluster of four powerful Dual-QuadCore workstations placed in the lower part of the scanner's body.</p>
		      			<a href="http://www.skyscan.be/products/1176.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>
	
	<div class="product">
		<img src="../img/product/micro_ct/1178.jpg">
		<h2>SkyScan1178 high-throughput micro-CT</h2>
		<p>The SkyScan 1178 is a fast micro-CT scanner with a scanning + reconstruction cycle of less than one minute for the entire volume. Static object position facilitates in-vivo scanning of laboratory animals and industrial applications,  ...</p>
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#1178">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="1178" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan1178 high-throughput micro-CT</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/1178.jpg">
						<p>The SkyScan 1178 is a fast micro-CT scanner with a scanning + reconstruction cycle of less than one minute for the entire volume. Static object position facilitates in-vivo scanning of laboratory animals and industrial applications, such as quality control and process monitoring. Networked cluster reconstruction allows generation of datasets in less than the scan time, and the whole scan-reconstruction cycle time can be less than one minute.</p>
						<p>Animal beds for rats and mice made of carbon fiber are supplied on an interchangeable holder to combine with PET, SPECT, and bioluminescence. A physiological monitoring subsystem can measure breathing and heartbeat in real time while also providing signals for gated acquisition. The full range of SkyScan software is supplied, including fast volumetric reconstruction, software for 2D / 3D quantitative analysis and for realistic 3D visualization.</p>
		      			<a href="http://www.skyscan.be/products/1178.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>
	
	<div class="product">
		<img src="../img/product/micro_ct/2011.jpg">
		<h2>SkyScan2011 x-ray nanotomograph</h2>
		<p>The SkyScan 2011 is a revolutionary laboratory nano-CT scanner with spatial resolution in the range of hundreds of nanometers. This spatial resolution in volume terms is equal to or better than that of synchrotron tomography. ...</p>
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#2011">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="2011" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan2011 x-ray nanotomograph</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/2011.jpg">
		      			<p>The SkyScan 2011 is a revolutionary laboratory nano-CT scanner with spatial resolution in the range of hundreds of nanometers. This spatial resolution in volume terms is equal to or better than that of synchrotron tomography. For the first time true sub-micron tomographic imaging is available in a laboratory instrument.</p>
		      			<p>The 2011 nano-CT employs an open-type x-ray source with a LaB6 cathode which achieves the unprecedented focal spot size of <400nm. At this small spot size, small-angle scattering enhances object details down to 150-200nm.</p>
		      			<a href="http://www.skyscan.be/products/2011.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>

	<div class="product">
		<img src="../img/product/micro_ct/2140.jpg">
		<h2>SkyScan2140 micro-CT / micro-XRF</h2>
		<p>The SkyScan 2140 extends the boundaries of non-destructive 3D imaging by adding true 3D chemical analysis capabilities to high resolution micro-tomography. ...</p>
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#2140">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="2140" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan2140 micro-CT / micro-XRF</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/2140.jpg">
						<p>The SkyScan 2140 extends the boundaries of non-destructive 3D imaging by adding true 3D chemical analysis capabilities to high resolution micro-tomography. It combines in one instrument a micro-CT scanner, which  ...</p>
		      			<a href="http://www.skyscan.be/products/2140.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>

	<div class="product">
		<img src="../img/product/micro_ct/2211.jpg">
		<h2> SkyScan2211 x-ray nanotomograph </h2>
		<p>The new MULTISCALE X-ray nanotomograph SkyScan 2211 covers the widest range of object sizes and spatial resolutions in one single instrument. It opens unique possibilities for 3D imaging and exact modeling of geological materials in ...</p>
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#2211">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="2211" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SkyScan2211 x-ray nanotomograph</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/micro_ct/2211.jpg">
						<p>The new MULTISCALE X-ray nanotomograph SkyScan 2211 covers the widest range of object sizes and spatial resolutions in one single instrument. It opens unique possibilities for 3D imaging and exact modeling of geological materials in oil and gas exploration, composite materials, fuel cells, electronic assemblies, etc. The instrument allows scanning and 3D non-destructive reconstruction of internal microstructure of objects as large as &gt;200mm in diameter as well as submicron resolution for small samples. The world’s fastest hierarchical 3D reconstruction software speeds-up imaging object’s internal microstructure 10-100 times compare to traditionally used algorithms or GPU-accelerated reconstruction.</p>
		      			<a href="http://www.skyscan.be/products/2211.htm" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div>



