

/* ###################################################################

	// 1. RESET STYLES
	// 2. PAGE SECTIONS STYLES
	// 3. TYPOGRAPHY
	// 4. COLUMNS
	// 5. HEADER
	// 6. FEATURED MOVIES
	// 7. CONTENT WRAPPER
	// 8. FOOTER
	// 9. OTHERS

################################################################### */

/* // 1. RESET STYLES */
/* ################################################################ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{cursor:default}

/* // 2. PAGE SECTIONS STYLES */
/* ################################################################ */

body {
	background: #FEFDFB;
	height: 100%;
}

#header {
	height: 490px;
}

#content-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;

	
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -50px;
}

#welcome {
	position: relative;
	width: 350px;
	float: left;
	margin-right: 20px;
}

#welcome img {
	float: left;
	width: 160px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 2px;
}

#new-releases {
	position: relative;
	width: 350px;
	float: left;
}

.product-item {
	margin-bottom: 30px;
}

#new-releases img {
	float: left;
	width: 100px;
	margin-right: 20px;
	height: 140px;
}

#new-releases .product-desp {
	width: 340px;
	height: 140px;
}

.news-item {
	/* cause latest news disorder
	height: 150px;
	*/
}

#latest-news {
	position: relative;
	width: 350px;
	float: right;
}

#latest-news .date {
	color: #EFAA24;
	float: left;
}

#latest-news .date > .number {
	margin-top: 10px;
	margin-bottom: 10px;
}

#latest-news .news {
	float: right;
	width: 300px;
	margin-bottom: 30px;
}


/* Center Pages */
.center-wrapper {
	position: relative;
	width: 1096px;
	margin: 0 auto;
}

.footer {
	clear: both;
	background: #000000;
	color: #ffffff;
	height: 80px;
	margin: 0 auto;
}

.push {
	height: 50px;
	clear: both;
	padding-bottom: 50px;
}

.footer .copy-right {
	position: absolute; 
	top: 10px;
	left: 10px;
}



/* // 3. TYPOGRAPHY */
/* ################################################################ */

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('fonts/PTN77F-webfont.eot');
    src: url('fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN77F-webfont.woff') format('woff'),
         url('fonts/PTN77F-webfont.ttf') format('truetype'),
         url('fonts/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family: PTSansNarrowBold, Helvetica, Arial, sans-serif; }

#content-wrapper p {
	/*
	font-family: Helvetica, Arial, sans-serif;
	*/
	font-family: Georgia, Aladin, sans-serif;
	font-size: 14px;
	font-weight: 100;
	line-height: 15px;
}

#latest-news .date > p {
	font-family: 'Open Sans Condensed';
	font-weight: 900;
	font-size: 20px;
}

#latest-news .date > p.number {
	font-family: 'PTSansNarrowBold';
	font-weight: 900;
	font-size: 24px;
}

/* Content header */
#content-wrapper h2 {
	font-weight: bold;
	font-size: 17px;
	color: #312B2B;
	/*
	text-shadow: 1px 1px 0px rgba(0,0,0, .6);
	*/
	margin-bottom: 5px;
	
}

#content-wrapper h1 {
	font-weight: bold;
	font-size: 27px;
	color: #312B2B;
	text-shadow: 1px 0px 0px rgba(0,0,0, .6);
	margin-bottom: 20px;
}

#content-wrapper a {
	color: #000000;
}

#content-wrapper a:hover {
	color: #EFAA24;
}

#content-wrapper p > a {
	color: rgb(180, 44, 25);
}

p.plink > a:hover {
	color: #EFAA24;
}

.clearfix:after {
    content : "." ;
    display : block ;
    height : 0 ;
    clear : both ;
    visibility : hidden ;
}



/*********************************************************************************************************************/

/* // 5. HEADER */
/* ################################################################ */

/* Title bar */
.title {
	position: absolute;
	top: 0;
}

#logo {
	position: absolute;
	width: 320px;
	left: 23px
}

#nav-title {
	height: 90px;
}

#nav-title .title {
	position: absolute;
	top: 0;
	left: -9px;
}

/* Search Box */
#google-search {
	position: absolute;
	top: 25px;
	right: 23px;
	widht: 290px;
}

#search-form {
	position: absolute;
	top: 25px;
	right: 23px;
}

#search-form input#search-box {
	width: 150px;
	height: 30px;
	padding: 0 40px 0 10px;
	border: none;
	outline: none;
	
	background: #ffffff;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#search-form input#search-submit {
	position: absolute;
	display: block;
	cursor: pointer;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: transparent url(../img/search-icon.png) no-repeat 0 0;
}

/* Top Navigation Bar Styles */
/* Top Navigation Menu */
.nav {
	position: absolute;
	top: 90px;
	left: 20px;
	z-index:10;
}

.nav li {
	display: block;
	float: left;
	height: 40px;
	padding: 10px 0;
}

.nav li a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 3px 26px;
	font-size: 20px;
	color: #000000;
	/*
	background: url(../img/nav-border.png) no-repeat center right;
	*/
}

.nav li img {
	padding-top: 13px;
}

.nav li a:hover {
	background: #EFAA24;
}

li.active a {
	background: #EFAA24;
}

/*
.nav li:last-child a { background: none; }
*/

/* Sub-menu */

ul.nav ul {
	background: #000000;
}

ul.nav ul li {
	float: none;
	padding: 0;
}

ul.nav ul li a {
	color: #ffffff;
}

ul.nav ul li a:hover {
	color: #EFAA24;
	background:none;
}

ul.nav li.parent ul {
	display: none;
}

ul.nav li.parentOn ul {
	display: block;
	/*
	height: 320px;
	*/
}

/* Header Featured Image Cover */
#featured-slider-wrapper {
	top: 55px;
}

#featured-slider {
	position: absolute;
	overflow: hidden;
	width: 1080px;
	height: 321px;
}

#header-featured-img li {
	display: block;
	float: left;
	width: 1040px;
	margin-left:20px;
	margin-right:20px;
}

#header-featured-img img {
	width: 1040px;
}


/* Header Movie Trailers Next & Prev Buttons */
#featured-slider .md-prev-button,
#featured-slider .md-next-button {
	position: absolute;
	display: block;
	width: 11px;
	height: 14px;
	top: 120px;
	left: 0px;
	background: url(../img/next-prev.png) no-repeat 0 0;
}

#featured-slider .md-next-button {
	left: 1071px;
	background-position: -11px 0;
}

#featured-slider .prev,
#featured-slider .next {
	position: absolute;
	display: block;
	width: 11px;
	height: 14px;
	top: 225px;
	left: 0px;
}

#featured-slider .next {
	left: 1071px;
}

#header2 {
	height:256px;
}

#location-wrapper {
	top: 80px;
	left: 20px;
	margin: 0 auto;
}

#location-wrapper h1 {
	font-size: 32px;
}

.location {
	height: 30px;
	margin-top: 10px;
	margin-right: 55px;
	padding-top: 7px;
	padding-left: 5px;
	background: #E5E4E2;
	border-radius: 2px;
}

#about {
	position: relative;
	width: 600px;
	float: left;
	margin-right: 20px;
}

#about-right {
	float: right;
	margin-top: 49px;
	padding-right: 53px;
}

#about-right img {
	width: 420px;
	height: 300px;
}

#service {
	position: relative;
	width: 600px;
	float: right;
	margin-right: 20px;
}

#service-right {
	float: left;
	margin-top: 49px;
	padding-right: 53px;
}

#service-right img {
	width: 420px;
	height: 300px;
}

/*
 * newsletter
 */
#newsletter {
	position: relative;
	width: 600px;
	float: right;
	margin-right: 20px;
}

#newsletter-left {
	float: left;
	margin-top: 49px;
	padding-right: 53px;
}

#newsletter-left img {
	width: 420px;
	height: 300px;
}

#newsletter .date {
	color: #EFAA24;
	float: left;
}

#newsletter-left .date {
	color: #EFAA24;
	float: left;
}

#newsletter .news {
	float: right;
	width: 450px;
	padding-right: 30px;
	margin-bottom: 30px;
}

#newsletter-left .news {
	float: right;
	width: 310px;
	padding-right: 30px;
	margin-bottom: 30px;
}

#newsletter .date > p {
	font-family: 'Open Sans Condensed';
	font-weight: 900;
	font-size: 20px;
}

#newsletter .date > p.month {
	font-family: 'PTSansNarrowBold';
	font-weight: 900;
	font-size: 24px;
}

#newsletter .date > .month {
	margin-top: 10px;
	margin-bottom: 10px;
}


.news ul {
	list-style: circle;
	font-family: Georgia, Aladin, sans-serif;
	font-size: 14px;
	font-weight: 100;
	line-height: 15px;
}

.news li {
	margin-bottom: 10px;
}


#content-wrapper p {
	margin-bottom:10px;
}

.product {
	position: relative;
	width: 325px;
	height: 310px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.product.top {
	height: 350px;
}

.product img {
	max-width: 250px;
	height: 150px;
}

.modal-body >img {
	max-width: 350px;
	height: auto;
	margin-bottom: 10px;
}

.tab-wrapper {
	position: relative;
	top: 0px;
}

#category {
	margin: 20px;
}

span.category {
	padding: 2px 5px;
}

span.category.active a {
	background: #EFAA24;
	border-radius: 3px;
}

#category .active a {
	color: #FFFFFF;
}

#category a {
	color: #EFAA24;
	font-weight: normal;
}

#category a:hover {
	background: #E5E4E2;
	border-radius: 3px;
}

#category .active a:hover {
	background: #EFAA24;
}

/*
 * Contact
 */

#contact-info {
	float: left;
}

#contact-query {
	float: right;
	padding-right: 60px;	
}

/* Elegant Aero */
.elegant-aero {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background: #DDF0F8;
    padding: 30px 30px 20px 30px;
    box-shadow: #868686 0 0px 10px -1px;
    -webkit-box-shadow: #868686 0 0px 10px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.elegant-aero  h1{
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 10px 20px 30px;
    display: block;
    background: #D0E6F0;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    border-bottom: 1px solid #B9E1F1;
}
.elegant-aero h1>span {
    display: block;
    font-size: 11px;
}

.elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.elegant-aero label>span {
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
    color: #888;
    width: 65%;
    padding: 5px 4px 0px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #CEE2E7;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    font: 200 24px/24px Arial, Helvetica, sans-serif;
}
.elegant-aero textarea{
    height:100px;
}
.elegant-aero select {
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    background: #fbfbfb url('down-arrow.png') no-repeat right;
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 67%;
}
.elegant-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
}
.elegant-aero .button:hover{
    background: #3EB1DD;
}

#map iframe {
	height: 350px;
	width: 1040px;
	margin: 20px auto;
}

* {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.read-more {
	position: absolute;
	bottom: 0;
}

h2+h3 {
	margin-top: 5px;
}

h3+p {
	margin-top: 5px;
}

