	<div class="product">
		<img src="../img/product/sem_product/3view.png">
		<h2>3View® 2 </h2>
		<h3>Serial Block Face Imaging</h3>
	 	<p>The Gatan 3View®2 offers life science researchers the ability to 
obtain in situ 3D data at remarkably fine depth resolution by 
operating a high-precision ultramicrotome within a field  ...</p>	
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#3view">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="3view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">3View® 2</h4>
		        		<h5>Serial Block Face Imaging</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/3view.png">
						<p>The Gatan 3View®2 offers life science researchers the ability to obtain in situ 3D data at remarkably fine depth resolution by operating a high-precision ultramicrotome within a field 
emission gun scanning electron microscope (FEGSEM). Based 
on the groundbreaking serial block-face scanning electron 
microscopy (SBFSEM) work performed by MPI Heidelberg1
, the 
revolutionary 3View®2 allows automated acquisition of 3D 
ultrastructure  by sequentially imaging a freshly cut, resin-
embedded block face. Unlike the 3D imaging techniques in 
light microscopy, the spatial resolution provided by 3View ® 2 in 
the Z direction is comparable to its X-Y resolution and does not 
degrade with depth.
</p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/3View_landing.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->