	<div class="product">
		<img src="../img/product/sem_product/monocl4.jpg">
		<h2>MonoCL4 </h2>
		<h3>World-leading CL imaging and spectroscopy system</h3>
	 	<p>MonoCL4 is the next generation in the world-leading family of cathodoluminescence (CL) systems from Gatan. It is available in 4 configurations to suit the widest range of ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#monocl4">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="monocl4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">MonoCL4</h4>
		        		<h5>World-leading CL imaging and spectroscopy system</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/monocl4.jpg">
						<p>MonoCL4 is the next generation in the world-leading family of cathodoluminescence (CL) systems from Gatan. It is available in 4 configurations to suit the widest range of applications and requirements: MonoCL4, MonoCL4 Swift, MonoCL4 Plus and MonoCL4 Elite. </p>
						<p>The MonoCL4 family are all compatible with conventional, low vacuum or field emission SEMs, combined FIB/SEMs and ion microscopes.  Special versions are available for microprobes and for UHV chambers.  There is also full compatibility with Gatan’s range of nitrogen cooling stages and helium cooling stages for enhancing the CL signal and increasing spectral discrimination. Gatan’s quantitative EBIC system, SmartEBIC can also share the MonoCL4 platform. </p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/cathodo/Monocl4.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/sem_product/minicl_1.jpg">
		<h2>MiniCL </h2>
		<h3>Cathodoluminescence imaging in any SEM or microprobe</h3>
	 	<p>Cathodoluminescence imaging in the SEM (or microprobe) can be used to locate and characterise impurities, defects, grain boundaries, zonation and overgrowths in a wide range  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#minicl">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="minicl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">MiniCL</h4>
		        		<h5>Cathodoluminescence imaging in any SEM or microprobe</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/minicl_1.jpg">
						<p>Cathodoluminescence imaging in the SEM (or microprobe) can be used to locate and characterise impurities, defects, grain boundaries, zonation and overgrowths in a wide range of materials.</p>
						<p>MiniCL is a simple but effective CL imaging system which can be attached to any SEM and many Microprobes. The novel design utilizes a minature, highly sensitive PMT mounted inside the SEM chamber at the end of a retractable probe. 185-850nm.</p>
						<p>The MiniCL is manufactured and configured for a chosen port on the SEM or microprobe, this can be horizontal or inclined. The imaging signal is an analogue voltage which requires a free scan synchronous auxiliary analogue input on the microscope or beam control frame store. The imaging performance is therefore dependent on the flexibility of the scan generator and frame store. For low luminescent specimens, slow scanning is required. For best result Gatan's DigiScan II digital beam control system is recommended.</p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/cathodo/MiniCL.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/sem_product/sem_chromacl.gif">
		<h2>ChromaCL2 </h2>
		<h3>Live Colour Cathodoluminescence Imaging in the SEM</h3>
	 	<p>Live colour cathodoluminescence imaging has found important uses in mineral analysis laboratories world-wide. From oil and gas exploration to geochronology to mineral growth ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#chromacl2">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="chromacl2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ChromaCL2</h4>
		        		<h5>Live Colour Cathodoluminescence Imaging in the SEM</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/sem_chromacl.gif">
						<p>Live colour cathodoluminescence imaging has found important uses in mineral analysis laboratories world-wide. From oil and gas exploration to geochronology to mineral growth studies ChromaCL has shed new light on problems old and new. </p>
						<p>Colour CL images reveal changes in mineral composition including phase and trace element distribution allowing easy visualization of chemical overprinting and overgrowths, growth zonation, internal healed fractures and much more. What’s more, with ChromaCL2 all this is revealed with a single scan of the electron beam.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/cathodo/ChromaCL.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->