	<div class="product">
		<img src="../img/product/sem_product/ALTO-2500.jpg">
		<h2>ALTO 2500 Cryotransfer for SEM </h2>
		<h3>Benefits of Cryo-SEM</h3>
	 	<p>Cryo-SEM allows imaging and analysis of biological and other hydrated specimens. Liquids, suspensions, emulsions, polymers and other beam- or vacuum-sensitive specimens may also be easily  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#alto2500">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="alto2500" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ALTO 2500 Cryotransfer for SEM</h4>
		        		<h5>Benefits of Cryo-SEM</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/ALTO-2500.jpg">
						<p>Cryo-SEM allows imaging and analysis of biological and other hydrated specimens. Liquids, suspensions, emulsions, polymers and other beam- or vacuum-sensitive specimens may also be easily prepared and examined.</p>
						<p>The benefits of Cryo-SEM apply to a wide range of applications areas, including botany, pathology, physiology, mycology, micro-organisms, agro-chemicals, pharmaceutical, healthcare, food, consumer products and industrial processes. See our Image Galleries for more examples of the excellent results that can be produced using ALTO systems.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/alto_2500.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/sem_product/alto-1000-2.jpg">
		<h2>ALTO 1000 Cryo-transfer for SEM </h2>
		<h3>The configured cryo-SEM system</h3>
	 	<p>ALTO 1000 is a new, compact, easy to use cryo-system, designed to give optimum results with tungsten SEM and combined SEM-FIB microscopes at both high- and low-vacuum conditions.  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#alto1000">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="alto1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ALTO 1000 Cryo-transfer for SEM</h4>
		        		<h5>The configured cryo-SEM system</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/alto-1000-2.jpg">
						<p>ALTO 1000 is a new, compact, easy to use cryo-system, designed to give optimum results with tungsten SEM and combined SEM-FIB microscopes at both high- and low-vacuum conditions.</p>
						<p>The guiding principals of the ALTO range have been followed i.e. unrivalled visibility and convenience in use, plus high performance due to excellent temperature control, anti-contamination, fracturing and coating facilities.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/alto_1000.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/sem_product/ALT327.jpg">
		<h2>ALT 327 Impact Freezer for ALTO </h2>
		<h3>Impact freezer for ALTO</h3>
	 	<p>In preparation for cryo-SEM, liquids, liquid-based colloids, suspensions, soft solids and some biological specimens can benefit from impact or ‘metal mirror’ cryo-fixation, where the specimen  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#alt327">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="alt327" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ALT 327 Impact Freezer for ALTO</h4>
		        		<h5>Impact freezer for ALTO</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/ALT327.jpg">
						<p>In preparation for cryo-SEM, liquids, liquid-based colloids, suspensions, soft solids and some biological specimens can benefit from impact or ‘metal mirror’ cryo-fixation, where the specimen is impacted onto a liquid nitrogen-cooled copper block with a highly polished surface finish.</p>
						<p>A  sample carrier support assembly is magnetically secured to the drop mechanism. The drop mechanism can only be released when safety conditions are met, then the sample carrier support assembly impacts the cold metal block utilising an optimised ‘anti-bounce’ mechanism.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/alt327.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->