	<div class="product">
		<img src="../img/product/sem_product/sem_smartebic1.jpg">
		<h2>SmartEBIC </h2>
		<h3>Characterize the electrical properties of semiconductor materials and devices</h3>
	 	<p>SmartEBIC is a system for studying electrical properties of semiconductor materials and devices using the established technique of Electron Beam Induced Current (EBIC). Based on Gatan's   ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#ebic">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="ebic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">SmartEBIC</h4>
		        		<h5>Characterize the electrical properties of semiconductor materials and devices</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/sem_smartebic1.jpg">
						<p>SmartEBIC is a system for studying electrical properties of semiconductor materials and devices using the established technique of Electron Beam Induced Current (EBIC). Based on Gatan's leading DigitalMicrograph™ software platform, and combining DigiScan™ II Digital Beam Control with high bit signal sampling and intelligent amplifier control, SmartEBIC transforms the technique by introducing quantification with ease of use. The product is suitable for Scanning Electron Microscopes (SEMs) and Scanning Transmission Electron Microscopes (STEMs).</p>
						<p>Electron Beam Induced Current (EBIC) is used to characterize a semiconductor's electrical properties. With an internal electrical field present (e.g. a p-n junction), an electrically contacted specimen can detect the flow of electrons and holes that are created by the electron beam. Any variation in the generation, drift or recombination of the charge close to the generation volume can be measured as contrast. In this way EBIC reveals the local, sub-surface electronic structure of a semiconductor specimen device. As the EBIC signal is very strongly influenced by electron hole pair recombination, the technique is a powerful way of characterising defects and their detrimental effect in materials and devices.</p>
						<p>As EBIC often compliments cathodoluminescence (CL) in characterising recombination events, SmartEBIC has been designed to be compatible with Gatan's MonoCL4 product range. In addition, the software can optionally be used in a mode which bypasses the current amplifier, so as to quantify input voltages from other sources. This increases the versatility of the product with regard to other characterisation SEM techniques. </p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/SmartEBIC.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->