	<div class="product">
		<img src="../img/product/sem_product/fcs.png">
		<h2>FCS Field Cancelling Systems </h2>
		<h3>Providing effective field reduction over an even wider frequency range</h3>
	 	<p>FCS, field cancelling systems will improve the performance of electronic instruments which are sensitive to magnetic fields, such as SEMs, TEMs and Imaging Filters.  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#fcs">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="fcs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">FCS Field Cancelling Systems</h4>
		        		<h5>Providing effective field reduction over an even wider frequency range</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/fcs.png">
						<p>FCS, field cancelling systems will improve the performance of electronic instruments which are sensitive to magnetic fields, such as SEMs, TEMs and Imaging Filters.</p>
						<p>A standard FCS comprises a Magnetic Field Control Unit, Magnetic Field Sensor and three (X, Y & Z) cable loops. The FCS works by producing a compensating field of the correct amplitude, phase and direction to cancel the ambient field.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/FCS.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->