	<div class="product">
		<img src="../img/product/sem_product/digiscan_box.jpg">
		<h2>DigiScan II™ </h2>
		<h3>Multi signal digital imaging and control for SEM</h3>
	 	<p> DigiScan II™ is Gatan's 2nd generation digital beam control and image processing system designed especially for providing photographic quality digital images, as well as enhancing  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#digiscan">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="digiscan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">DigiScan II™</h4>
		        		<h5>Multi signal digital imaging and control for SEM</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/digiscan_box.jpg">
						<p>DigiScan II™ is Gatan's 2nd generation digital beam control and image processing system designed especially for providing photographic quality digital images, as well as enhancing advanced scanning electron beam applications.</p>
						<p>DigiScan II works in Gatan's industry leading DigitalMicrograph™ software environment and provides the backbone of advanced EM techniques from Gatan.</p>
						<p>DigiScan II's impressive specifications can extend the performance of all SEMs. With greater flexibility of image acquisition and signal to noise differentiation, DigiScan II can transform an older analogue microscope, even exceed the performance of modern SEM framestores.</p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/digiscan.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->