	<div class="product">
		<img src="../img/product/sem_product/CF302_door.jpg">
		<h2>CF302 </h2>
		<h3>Continuous Flow Helium Stage Cooling Stages</h3>
	 	<p>Cryogenic temperatures allow radiative recombination to dominate over non-radiative processes, leading to large increases in light output, spectral lines becoming sharper and  ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#cf302">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="cf302" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">CF302</h4>
		        		<h5>Continuous Flow Helium Stage Cooling Stages</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/CF302_door.jpg">
						<p>Temperature dependent studies esp. of electrical/electronic materials e.g. insulators, semiconductors and superconductors.</p>
						<p>Enhanced imaging and spectroscopy, esp. for cathodoluminescence (CL).</p>
						<p>Cryogenic temperatures allow radiative recombination to dominate over non-radiative processes, leading to large increases in light output, spectral lines becoming sharper and electro-optical transitions being revealed.</p>
						<p>For temperatures between 6K and 300K. It includes a replacement SEM stage and door assembly with X,Y,Z axis manual micrometers. The CF302 design ensures low drift and vibration whilst minimizing liquid helium consumption.</p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/CF302.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/sem_product/CF302_door.jpg">
		<h2>CF302M </h2>
		<h3>Continuous Flow Helium Stage Cooling Stages</h3>
	 	<p>CF302M is a helium cooled stage module, (8K to 300K), suitable for some SEMs. As the CF302M is a module, attachment and removal to revert back to using standard specimens on the ...</p>
	 	<div class="read-more">
		<button class="btn btn-primary" data-toggle="modal" data-target="#cf302m">
			read more
		</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="cf302m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">CF302M</h4>
		        		<h5>Continuous Flow Helium Stage Cooling Stages</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/CF302_door.jpg">
						<p>CF302M is a helium cooled stage module, (8K to 300K), suitable for some SEMs. As the CF302M is a module, attachment and removal to revert back to using standard specimens on the SEM goniometer requires more care than the CF302. The CF302M may only be appropriate for some microscopes.</p>
						<p>CF302M module for attaching to SEM stage, provides a controllable specimen temperature range from 8 to 300K. </p>
						<p>CF302M is a helium cooled stage module, (8K to 300K), suitable for some SEMs. As the CF302M is a module, attachment and removal to revert back to using standard specimens on the SEM goniometer requires more care than the CF302. The CF302M may only be appropriate for some microscopes</p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/CF302.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->	<div class="product">
		<img src="../img/product/sem_product/CF302_door.jpg">
		<h2>C1002 </h2>
		<h3>Liquid Nitrogen cold stage</h3>
	 	<p>Enhanced imaging and spectroscopy, esp. for cathodoluminescence (CL). Cryogenic temperatures allow radiative recombination to dominate over non-radiative processes, leading to large increases   ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#c1002">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="c1002" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">C1002</h4>
		        		<h5>Liquid Nitrogen cold stage</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/CF302_door.jpg">
						<p>Enhanced imaging and spectroscopy, esp. for cathodoluminescence (CL). Cryogenic temperatures allow radiative recombination to dominate over non-radiative processes, leading to large increases in light output, spectral lines becoming sharper and electro-optical transitions being revealed. </p>
						<p>For beam-sensitive materials, e.g. polymers, semiconductors, minerals ; also to prevent migration during x-ray microanalysis.</p> <p></p>
						<p>Temperature dependent studies esp. of electrical/electronic materials e.g. insulators, semiconductors and superconductors</p>
						<p>NB for biological and hydrated, liquid or other vacuum-sensitive materials, or to observe internal microstructure by freeze fracture, a cryotransfer system is required.</p>
						
						<a href="http://www.gatan.com/products/sem_products/products/C1002.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->	
	
	<div class="product">
		<img src="../img/product/sem_product/c1010.png">
		<h2>C1010 </h2>
		<h3>Airlock and Protected Specimen Transfer</h3>
	 	<p> Current interest in air-sensitive lithium ion battery research and the development of catalysts has resulted in increasing requirements for protected specimen transfer between specimen  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#c1010">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="c1010" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">C1010</h4>
		        		<h5>Airlock and Protected Specimen Transfer</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/c1010.png">
						<p>Current interest in air-sensitive lithium ion battery research and the development of catalysts has resulted in increasing requirements for protected specimen transfer between specimen preparation equipment e.g. an inert gas glovebox and the SEM and/or FIB.</p>
						<p>The Gatan C1010 airlock and C1012 sealable transfer device, which can safely transfer air-sensitive specimens, provide a simple solution to these requirements.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/C1010.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->