	<div class="product">
		<img src="../img/product/sem_product/microtest_200.jpg">
		<h2> Microtest</h2>
		<h3>Tensile Stages for SEM</h3>
	 	<p>Dynamic studies with microstructural information are possible in the SEM, using mechanical testing apparatus and/or heating stages.   ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#tensile">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="tensile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Microtest</h4>
		        		<h5>Tensile Stages for SEM</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/microtest_200.jpg">
						<p>Dynamic studies with microstructural information are possible in the SEM, using mechanical testing apparatus and/or heating stages. </p>
						<p>The MICROTEST product range brings a powerful dimension to traditional tensile testing of a wide range of materials by allowing in-situ SEM imaging of the changes in microstructure during the deformation experiment. The SEM provides a deeper understanding of the cause of the deformation with the ability to image where change is occurring. Combined information from a dynamic experiment overcomes uncertainties in interpreting traditional stress / strain data.
A wide range of modules is available for tensile, compression and / or bending tests, with load ranges from less than 2N up to 5000N. </p>
						<p>An easy to use software interface provides live graphing of quantitative data, together with flexible thresholding for more complex experiments, including cyclical loading. </p>
						<p>A useful option, MTVideo, allows synchronized image and data acquisition. This allows subsequent detailed analysis of a movie of the sample deformation. </p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/Microtest.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/sem_product/microtest_c1003asmall.jpg">
		<h2>Heating Stages for SEM </h2>
		<h3>All heating stages are modules</h3>
	 	<p>Many metallurgical and materials science studies benefit from specimen heating in the SEM. Dynamic observations of phase transitions and other microstructural changes with respect to   ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#heating">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="heating" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Heating Stages for SEM</h4>
		        		<h5>All heating stages are modules</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/sem_product/microtest_c1003asmall.jpg">
						<p>Many metallurgical and materials science studies benefit from specimen heating in the SEM. Dynamic observations of phase transitions and other microstructural changes with respect to temperature can be informative for materials research and failure analysis. Using specialized equipment, dynamic gas reactions can be studied. The effect of re-crystallisation can be observed using the combination of specimen heating and electron backscattered diffraction (EBSD).</p>
						<p>H1000 Series modules are all designed to interface easily to most standard SEM stages, using a thermally isolated stage interface. </p>
						<p>Water-cooled shielding and retractable shutters are provided for SEM protection with H1002 and H1004 high temperature modules. For the highest temperature module (H1004), a flow switch provides a safety furnace power cut-off in case of insufficient flow in the water cooling circuit. </p>
						<p>The heating modules are supplied complete with power supply, temperature sensor and a digital temperature controller.</p>
						<p></p>
						
						<a href="http://www.gatan.com/products/sem_products/products/Heating_Stages.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->