	<div class="product">
		<img src="../img/product/analytical_tem/806.png">
		<h2>Model 806 HAADF STEM Detector </h2>
		<h3>New Gatan 806 HAADF STEM detector head</h3>
		<p>For EELS analysis, the correct choice of camera length and EELS collection angles is critical. The same is true for Z-contrast (also referred as high angle angular dark field - HAADF) STEM imaging.   ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#806">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="806" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Model 806 HAADF STEM Detector</h4>
		        		<h5>New Gatan 806 HAADF STEM detector head</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/806.png">
						<p>For EELS analysis, the correct choice of camera length and EELS collection angles is critical. The same is true for Z-contrast (also referred as high angle angular dark field - HAADF) STEM imaging. The Gatan model 806 HAADF STEM detector is specifically designed to capture the optimum range of scattering angles for Z-contrast STEM at camera lengths optimally suited to simultaneous EELS acquisition with any Gatan EELS system (GIF2000, Tridiem or Enfina). The model 806 mounts to a Gatan UltraScan camera housing and is compatible with any 100-300 kV TEM/STEM that can accommodate this housing. Model 806 can be mounted together with the model 894/895 UltraScan or model 832 ORIUS CCD cameras. The detector geometry and mounting position are compatible with concurrent deployment of Gatan's model 805 BF/DF STEM detector, thus enabling simultaneous and optimized EELS, Z-contrast and diffraction-contrast STEM imaging when combined with Gatan model 777 STEMPack.</p>
						<p>The 806 detector and its electronics have been optimized for the low to moderate count rates typically encountered in HAADF STEM work. The system has very low noise and is capable of detecting single electron events, both in analog and pulse-counting modes.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/analytical_tem/products/806HAADF.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/analytical_tem/digiscan_box.jpg">
		<h2>Model 788 Digiscan II </h2>
		<h3>Digital Beam Control & Image Processing</h3>
		<p>DigiScan II™ is Gatan's 2nd generation digital beam control and image processing system designed especially for providing photographic quality digital images, as well as enhancing   ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#digiscan">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="digiscan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Model 788 Digiscan II</h4>
		        		<h5>Definitive Performance, Digital Beam Control & Image Processing</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/digiscan_box.jpg">
						<p>DigiScan II™ is Gatan's 2nd generation digital beam control and image processing system designed especially for providing photographic quality digital images, as well as enhancing advanced scanning electron beam applications.</p>
						<p>DigiScan II works in Gatan's industry leading DigitalMicrograph™ software environment and provides the backbone of advanced EM techniques from Gatan.</p>
						<p>DigiScan II's impressive specifications can extend the performance of all SEMs. With greater flexibility of image acquisition and signal to noise differentiation, DigiScan II can transform an older analogue microscope, even exceed the performance of modern SEM framestores.</p>
						<p>With DigiScan II, high pixel density images can be acquired. Poster sized images can provide higher spatial resolution at lower SEM magnification. Interesting areas can be zoomed into as a post processing step without introducing pixellation.</p>
						<p>Flexible pixel density and dwell times, high bit depth acquisition and simultaneous acquisition of multiple inputs are key to obtaining quality micro-analytical results. DigiScan II is included in MonoCL3+, ChromaCL, Spectrum Imaging and SmartEBIC products, and optional on other CL, cryo-transfer, hot stages and mechanical testing products.</p>
						
						<a href="http://www.gatan.com/products/sem_products/products/digiscan.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->