	<div class="product">
		<img src="../img/product/analytical_tem/Enfinium-GIF-Q-beauty-pic-FL-small.png">
		<h2>Enfinium™SE (Model 976)</h2>
		<h3>Enfinium™ EELS Spectrometers </h3>
		<p>The Enfinium™SE is a workhorse EELS system combining simplified operation and spectral speed suitable for most basic EELS operations. The standard package provides 100 spectra per   ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#m976">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="m976" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Enfinium™SE (Model 976)</h4>
		        		<h5>Enfinium™ EELS Spectrometers</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/Enfinium-GIF-Q-beauty-pic-FL-small.png">
						<p>The Enfinium™SE is a workhorse EELS system combining simplified operation and spectral speed suitable for most basic EELS operations. The standard package provides 100 spectra per second EELS with a 1 keV energy field-of-view. With a 3 mm fixed position EELS aperture, the spectral resolution of the Model 976 Enfinium™SE spectrometer is compatible with the energy spread of LaB6 and most Schottky field emission sources ensuring no spectral information is lost. The 100 spectra per second rate in spectroscopy is fully supported by Gatan’s STEMPack™ spectrum imaging option.</p>
						<p>The Model 976 Enfinium™SE spectrometer can be upgraded with a high-speed camera and fast electrostatic shutter to allow microsecond exposure times, and high-speed, 1000 spectra per second EELS acquisition. DualEELS™, highspeed 2kV VSM and Gatan’s spectrum imaging packages are also available for the Model 976 Enfinium™SE Spectrometer. An integrated STEM detector is recommended if the Model 976 Enfinium™SE spectrometer will be used substantially for STEM EELS data acquisition to ensure high fidelity STEM signals at the collection angles recommended for EELS analysis. The Enfinium™SE is currently supported by Gatan Microscopy Suite® (GMS) 2 running under Windows 7 32-bit; optional 64-bit support is available and is recommended for most Spectrum Imaging applications.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/analytical_tem/products/976EnfiniumSE.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	
	<div class="product">
		<img src="../img/product/analytical_tem/Enfinium-GIF-Q-beauty-pic-FL-small.png">
		<h2>Enfinium™ER (Model 977) </h2>
		<h3>Enfinium™ EELS Spectrometers</h3>
		<p>The Enfinium™ER is a high performance EELS system incorporating the advanced features of the GIF Quantum®ER system in a dedicated spectroscopy system. The high spectral ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#m977">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="m977" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Enfinium™ER (Model 977)</h4>
		        		<h5>Enfinium™ EELS Spectrometers</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/Enfinium-GIF-Q-beauty-pic-FL-small.png">
						<p>The Enfinium™ER is a high performance EELS system incorporating the advanced features of the GIF Quantum®ER system in a dedicated spectroscopy system. The high spectral resolution of the Enfinium™ER is well matched to both Schottky and cold-FEG microscopes while the microsecond shutter and highspeed detector take full advantage of the high beam current of Cs corrected STEM systems. The 2.5 mm and 5 mm spectroscopy apertures of the Enfinium™ER EELS system support the high collection angles required for atomic column resolution EELS analysis, and the 1000 spectra per second, high-speed EELS acquisition mode means you can make use of every electron that hits the sample. A 500 x 500 EELS spectrum image can be acquired in less than 5 minutes! </p>
						<p>The Model 977 Enfinium™ER Spectrometer can be upgraded with DualEELS™, high-speed 2 kV VSM and Gatan’s spectrum imaging packages. An integrated STEM detector is recommended if the Model 977 Enfinium™ER spectrometer will be used substantially for STEM EELS data acquisition to ensure high fidelity STEM signals at the collection angles recommended for EELS analysis. The Enfinium™ER is currently supported by Gatan Microscopy Suite® (GMS) 2 running under Windows 7 32-bit; optional 64-bit support is available and is recommended for most Spectrum Imaging applications.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/analytical_tem/products/977EnfiniumER.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->