	<div class="product">
		<img src="../img/product/analytical_tem/Enfinium-GIF-Q-beauty-pic-FL-small.png">
		<h2>GIF Quantum® </h2>
		<h3>A Leap in Performance</h3>
		<p>The GIF Quantum® series represents Gatan's 4th and most advanced generation of post-column energy filters. Redesigned from the ground up, the GIF Quantum® combines advanced   ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#gif-quantum">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="gif-quantum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">GIF Quantum®</h4>
		        		<h5>A Leap in Performance</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/Enfinium-GIF-Q-beauty-pic-FL-small.png">
						<p>The GIF Quantum® series represents Gatan's 4th and most advanced generation of post-column energy filters. Redesigned from the ground up, the GIF Quantum® combines advanced dodecapole-based electron optics with a blazing fast CCD camera system to yield an imaging filter that defines the new state-of-the-art in the capture of both highly detailed EELS and EFTEM data sets with maximum throughput.</p>
						<p>With the GIF Quantum®, there is no compromise between EFTEM and EELS performance.  Gatan’s patented sensor readout architecture (US Patent 5946033, 7157720) allows the same CCD sensor to be used interchangeably as a full-frame high-quality imaging device, a high-speed live viewing device, and an ultra fast spectroscopy device.  Aberration correction up to 5th order allows the use of a 1.8x larger 9 mm entrance aperture for EFTEM and a 2x larger 5 mm entrance aperture for energy loss spectroscopy at performance specifications superior to that of the GIF Tridiem®.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/analytical_tem/products/gif_quantum.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->