	<div class="product">
		<img src="../img/product/analytical_tem/digiscan_box.jpg">
		<h2>Model 777 STEMPack </h2>
		<h3>Comprehensive package for advanced analytical STEM</h3>
		<p>A powerful way to carry out electron energy loss spectroscopy (EELS) is in conjunction with scanning transmission (STEM) mode on a high-performance analytical TEM instrument.   ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#stempack">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="stempack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Model 777 STEMPack</h4>
		        		<h5>Comprehensive package for advanced analytical STEM</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/digiscan_box.jpg">
						<p>A powerful way to carry out electron energy loss spectroscopy (EELS) is in conjunction with scanning transmission (STEM) mode on a high-performance analytical TEM instrument. By combining EELS and STEM, one can obtain high-quality spectral data from precisely targeted points within a scanned image or line profile. This approach is the basis of the technique known as STEM Spectrum Imaging (SI).</p>
						<p>STEM Spectrum Imaging systematically probes a defined TEM specimen area to gather from it the maximum possible information in a fully automated data acquisition session. The resulting multi-dimensional data set (comprising at least the lateral x and y spatial dimensions plus the electron energy loss) can then be taken to an off-line analysis station for extraction of quantitative specimen information.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/analytical_tem/products/777_STEMPack.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	
	<div class="product">
		<img src="../img/product/analytical_tem/digiscan_box.jpg">
		<h2>Model 777.U2 STEMPack™  </h2>
		<h3>High-Speed SI Upgrade</h3>
		<p>The High-Speed Spectrum Imaging Upgrade package is a STEMPack™ upgrade enabling the high-speed spectroscopy capabilities of the GIF Quantum® or Enfinium™ to be used at full ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#m777">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="m777" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Model 777.U2 STEMPack™</h4>
		        		<h5>High-Speed SI Upgrade</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/digiscan_box.jpg">
						<p>The High-Speed Spectrum Imaging Upgrade package is a STEMPack™ upgrade enabling the high-speed spectroscopy capabilities of the GIF Quantum® or Enfinium™ to be used at full speed for STEM spectrum imaging. This is achieved by hardware-synchronization of the CCD camera and DigiScan™ beam control system to deliver unprecedented STEM EELS acquisition speeds with exceptional pixel purity. The result is state of the art, highspeed EELS spectrum imaging at acquisition rates in excess of 1000 pixels per second. Perform elemental mapping faster than ever before with exceptional pixel fidelity.</p>
						<p>The STEMPack™ High-Speed SI Upgrade drastically increases the maximum spectral throughput for STEM EELS spectrum imaging. Recent increases in the probe current attainable in modern STEM instruments through Cs corrected optics and high brightness guns have necessitated an increase in the spectral throughput of EELS spectrometers. Similarly, acquisition with any high brightness STEM probe, or acquisition from a relatively intense part of the EELS spectrum (e.g. low-loss), necessitates high-speed spectrum readout in order to fully utilize the energy-loss electrons available. This increase in throughput is required to both maximize the usefulness of the large beam current but also to minimize sample damage and contamination.</p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/_pvwB91795DC/products/analytical_tem/products/STEMPackHiSpeedSI.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->