	<div class="product">
		<img src="../img/product/analytical_tem/vulcan_holder_CAD.png">
		<h2>Vulcan STEM Cathodoluminescence </h2>
		<h3>Detection and Analysis for Scanning TEMs</h3>
		<p>Vulcan™ provides a new analytical mode for most STEM instruments, offering unique insights into the luminescence properties of materials, by capturing and analyzing the low energy photons   ...</p>
		
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#vulcan">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="vulcan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Vulcan STEM Cathodoluminescence</h4>
		        		<h5>Detection and Analysis for Scanning TEMs</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/analytical_tem/vulcan_holder_CAD.png">
						<p>Vulcan™ provides a new analytical mode for most STEM instruments, offering unique insights into the luminescence properties of materials, by capturing and analyzing the low energy photons emitted by many specimens when interacting with a high energy electron beam; termed cathodoluminescence (CL).</p>
						<p>The flux and energy of the emitted photons provide insight into the optical and electronic properties of the material or defect under investigation. The focused electron beam of the STEM offers the ability to characterise luminescence properties with sub-nm spatial resolution (sample dependent) and with sub-meV spectral resolution and to correlate this information with the microstructure and chemical properties of a material. </p>
						<p></p>
						<p></p>
						<p></p>
						
						<a href="http://www.gatan.com/products/analytical_tem/products/Vulcan_TEM_Cathodoluminescence.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->