	<div class="product">
		<img src="../img/product/digital_imaging/GatanES500.png">
		<h2>ES500W Erlangshen camera </h2>
		<h3>Capable of high speed and high quality imaging</h3>
	 	<p>The Erlangshen ES500W  is a basic, 1.3 Megapixel, all-purpose CCD camera designed to meet the needs of digital imaging in both life and materials science applications.  ...</p>	
		 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#es500w">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="es500w" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ES500W Erlangshen camera</h4>
		        		<h5>Capable of high speed and high quality imaging</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/GatanES500.png">
						<p>The Erlangshen ES500W  is a basic, 1.3 Megapixel, all-purpose CCD camera designed to meet the needs of digital imaging in both life and materials science applications. The ES500W incorporates the advanced CCD interline technology with sophisticated electronics.</p>
						<p>The ES500W is capable of high speed and high quality imaging with a field of view larger than traditional TEM film. These advanced features allow the user to image intense electron diffraction patterns without the blooming artifact and observing dynamic events inside a TEM (in-situ experiment).</p>
						<p>The ES500W camera also offers the unique digital streaming video output (DSV).</p>
						<p>The streaming video output can be viewed or captured by any software application that recognizes streaming video input, such as Microsoft NetMeeting, or other 3rd party commercial software.</p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/782_ES500W.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/digital_imaging/digi_erlangshen.gif">
		<h2>ES1000W Erlangshen CCD Camera (Model 785) </h2>
		<h3>11 Megapixel* high-speed affordable CCD camera</h3>
	 	<p>Looking for a digital solution to your imag-
ing needs? Tired of depending on the time consum-
ing  photographic  darkroom  to  deliver  your  results? 
This new generation of TEM camera is built using ...</p>
		<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#es1000w">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="es1000w" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ES1000W Erlangshen CCD Camera (Model 785)</h4>
		        		<h5>11 Megapixel* high-speed affordable CCD camera</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/digi_erlangshen.gif">
						<p>Looking for a digital solution to your imag-
ing needs? Tired of depending on the time consum-
ing  photographic  darkroom  to  deliver  your  results? 
This new generation of TEM camera is built using the 
very  latest  CCD  technology  available  today. With its 
11Mega pixel CCD, the ES1000W Erlangshen camera 
will make you forget about the tedious darkroom steps 
and cost associated with film use and lead you into the 
exciting digital world with confidence. The exceptional 
image quality, easy to use features, and fast speed 
guarantee the best price-performance value in the 
market. Use of the binoculars on your TEM slowing 
you down? You can now use the ES1000W camera 
to perform the usual TEM operation/functions via 
the display monitor instead of the conventional TEM 
phosphor viewing screen. Acquiring a digital image is 
also a fast, simple, 3 step approach – preview, focus, 
acquire.</p>
						<h3>Features:</h3>
						<ul style="list-style-type:circle; list-style-position:inside;">
							<li>11 Megapixel* high-speed affordable CCD camera</li>
							<li>Bio-medical TEM imaging applications</li>
							<li>High-resolution optical lens design</li>
							<li>Side mount</li>
							<li>60 - 120kV</li>
							<li>Digital streaming video</li>
							<li>Viewing screen replacement</li>
						</ul>
						<br>
						<a href="http://www.gatan.com/products/digital_imaging/products/785_ES1000W.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->