	<div class="product">
		<img src="../img/product/digital_imaging/K2.png">
		<h2>K2 direct detection camera </h2>
		<h3>K2 Summit™, the First Direct Detection Camera for TEM that Counts</h3>
	 	<p>The K2 Summit is a revolutionary new Direct Detection camera for Electron Microscopy (EM) and is already making its impact in low dose cryo 3D EM (single particle and tomography). ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#k2">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="k2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">K2 direct detection camera</h4>
		        		<h4>K2 Summit™, the First Direct Detection Camera for TEM that Counts</h4>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/K2.png">
						<p>The K2 Summit is a revolutionary new Direct Detection camera for Electron Microscopy (EM) and is already making its impact in low dose cryo 3D EM (single particle and tomography).</p>
						<p>The 3D single particle reconstruction of 20S Proteasome below (4.4 Å resolution, 0.5 FSC), showing clearly resolved alpha helix turns and beta sheets, was generated in only 5 days from the start of data acquisition to the completion of reconstruction.</p>
						<a href="http://www.gatan.com/products/digital_imaging/products/K2/index.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	