	<div class="product">
		<img src="../img/product/digital_imaging/SC200_beauty_shot-small.png">
		<h2>ORIUS™ SC200 TEM CCD CAMERA </h2>
		<h3>Designed for TV rate readout speed and high resolution imaging</h3>
	 	<p>The ORIUS® 830 SC200 CCD camera is a member of the highly successful ORIUS family of CCD cameras, designed for TV rate readout speed and high resolution imaging. ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#sc200">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="sc200" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ORIUS™ SC200 TEM CCD CAMERA</h4>
		        		<h5>Designed for TV rate readout speed and high resolution imaging</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/SC200_beauty_shot-small.png">
						<p>The ORIUS® 830 SC200 CCD camera is a member of the highly successful ORIUS family of CCD cameras, designed for TV rate readout speed and high resolution imaging.</p>
						<p>The model 830, ORIUS SC200 is a retractable 2.0k x 2.0k pixel (4 Megapixel) CCD camera designed to deliver high resolution and TV rate speed for imaging applications in both life and materials science, as well as to provide excellent performance in electron diffraction applications.</p>
						<p>When installed in the bottom mount position, the ORIUS SC200B provides a high magnification view of the sample making it ideal for use in materials science and some life science imaging applications. Furthermore, the exceptional anti-blooming performance makes the ORIUS SC200 an ideal camera for recording electron diffraction patterns.</p>
						<a href="http://www.gatan.com/products/digital_imaging/products/SC200.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/digital_imaging/orius2_small.png">
		<h2>ORIUS™ SC200D </h2>
		<h3>Delivers excellent streak-free performance</h3>
	 	<p>The ORIUS® SC200D is a member of the highly successful ORIUS family of CCD cameras, with a special design to prevent electron beam damage and which delivers excellent streak-free performance ...</p>
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#sc200d">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="sc200d" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ORIUS™ SC200D</h4>
		        		<h5>Delivers excellent streak-free performance</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/orius2_small.png">
						<p>The ORIUS® SC200D is a member of the highly successful ORIUS family of CCD cameras, with a special design to prevent electron beam damage and which delivers excellent streak-free performance and sensitivity for electron diffraction.</p>
						<p>The model 833 ORIUS SC200D CCD camera is a single 35mm port, retractable, 2k x 2k pixel (4 Megapixel) CCD, lens-coupled CCD camera with a proprietary, robust, true transmission scintillator for resisting electron beam damage in TEMs up to 400 kV. It is designed to deliver high resolution and TV readout speed for diffraction and imaging applications in materials science.</p>
						<p>The ORIUS SC200D has a custom-designed large aperture lens coupling system and a patented transmission scintillator, jointly optimizing sensitivity and resolution across diffraction and imaging applications. The camera has exceptional anti-blooming performance, for streak free diffraction patterns.* The combination of detector technology and robust design deliver unrivalled performance for diffraction and general imaging.</p>
						<a href="http://www.gatan.com/products/digital_imaging/products/SC200D.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/digital_imaging/SC200_beauty_shot-small.png">
		<h2>ORIUS™ SC200W TEM CCD CAMERA </h2>
		<h3>Ideal for bio-medical applications</h3>
	 	<p> The ORIUS SC200W camera is a life science / biomedical configuration of the ORIUS® 830 SC200 CCD camera, which is a member of the highly successful ORIUS family of CCD cameras, ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#sc200w">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="sc200w" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ORIUS™ SC200W TEM CCD CAMERA</h4>
		        		<h5>Ideal for bio-medical applications</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/SC200_beauty_shot-small.png">
						<p>The ORIUS SC200W camera is a life science / biomedical configuration of the ORIUS® 830 SC200 CCD camera, which is a member of the highly successful ORIUS family of CCD cameras, designed for TV rate readout speed and high resolution imaging, mounted in the 35mm port on the TEM. The side mount configuration provides a large field of view of the sample, suitable for imaging applications in bio-medical and general life science applications.</p>
						<p>The model 830, ORIUS SC200W is a retractable 2.0k x 2.0k pixel (4 Megapixel) CCD camera designed to deliver high resolution and TV rate speed for imaging applications in life science. It is also suitable for mixed use, covering materials science and diffraction if required.</p>
						<p>As a side (35mm port) mount camera, the ORIUS SC200W (installed on microscopes up to 200kV) enables applications requiring a large field of view. This is the preferred configuration for most imaging applications in life science. </p>
						<p>The ORIUS SC200 offers TV rate imaging that allows the user to search areas within the sample quickly and efficiently. This high sensitivity and high speed viewing mode enables microscopists to dispense with the traditional ‘viewing screen’ for TEM setup. Operations such as microscope alignments, stigmation and focus can be performed with high precision using the camera display instead of the TEM viewing screen. The real-time fast Fourier transform (FFT) functions (built-in to DigitalMicrograph® software) make these previously tedious operations painless with fast frame rate refresh. </p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/SC200W.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/digital_imaging/orius_camera.png">
		<h2>ORIUS® SC600B CCD CAMERA </h2>
		<h3>Providing a high magnification view of the sample</h3>
	 	<p>The ORIUS® SC600B is a member of the highly successful ORIUS family of CCD cameras, optimized to provide both high image quality and real-time speed. ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#sc600b">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="sc600b" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ORIUS® SC600B CCD CAMERA</h4>
		        		<h5>Providing a high magnification view of the sample</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/orius_camera.png">
						<p>The ORIUS® SC600B is a member of the highly successful ORIUS family of CCD cameras, optimized to provide both high image quality and real-time speed.</p>
						<p>The model 831, ORIUS SC600B is a retractable, bottom mounted 2.7k x 2.7k pixel (7 Megapixel) CCD camera, designed to deliver high resolution and real-time speed for imaging applications in both life and materials science, as well as to provide excellent performance for in electron diffraction applications. The HCR™ (High Contrast & Resolution) proprietary fiber coupling improves image contrast and resolution.</p>
						<p>The ORIUS SC600B is available for voltages up to 200 kV. The ORIUS SC600B is installed in Gatan’s MSC/SSC camera housing. Therefore, it can be purchased to upgrade an existing MSC (MultiScan) or SSC (SlowScan) camera (up to 200 kV), without the need to buy a new camera housing, minimizing the total cost.</p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/oriusSC600.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/digital_imaging/orius_camera.png">
		<h2>ORIUS® SC1000 CCD CAMERA </h2>
		<h3>Providing a high magnification view of the sample</h3>
	 	<p>The ORIUS® SC1000 is the top of the range of the highly successful ORIUS family of CCD cameras, offering the largest format camera in the family, optimized to provide both high image quality and  ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#sc1000">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="sc1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">ORIUS® SC1000 CCD CAMERA</h4>
		        		<h5>Providing a high magnification view of the sample</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/orius_camera.png">
						<p>The ORIUS® SC1000 is the top of the range of the highly successful ORIUS family of CCD cameras, offering the largest format camera in the family, optimized to provide both high image quality and real-time speed. </p>
						<p>The model 832, ORIUS SC1000 is a retractable 4.0k x 2.7k pixel (11 Megapixel) CCD camera designed to deliver high resolution and real-time speed for imaging applications in both life and materials science, as well as to provide excellent performance in electron diffraction applications. The HCR™ (High Contrast & Resolution) proprietary fiber coupling improves image contrast and resolution.</p>
						<p>When installed in the bottom mount position, the ORIUS SC1000B provides a high magnification view of the sample, making it ideal for use in both materials science imaging applications and life science applications such as work on small particles and viruses. Furthermore, the exceptional anti-blooming performance makes the ORIUS SC1000 an ideal camera for recording electron diffraction patterns.</p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/832_SC1000.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
