	<div class="product">
		<img src="../img/product/digital_imaging/tem_autotune.png">
		<h2> TEM AutoTune™</h2>
		<h3>AutoTuning Software for Your TEM </h3>
	 	<p>TEM AutoTune™ software package greatly simplifies the tasks of tuning a TEM (transmission electron microscope). This fully automated software package features automatic adjustment ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#autotune">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="autotune" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">TEM AutoTune™</h4>
		        		<h5>AutoTuning Software for Your TEM </h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/tem_autotune.png">
						<p>TEM AutoTune™ software package greatly simplifies the tasks of tuning a TEM (transmission electron microscope). This fully automated software package features automatic adjustment of critical microscope parameters for TEM imaging, such as focus, astigmatism, and misalignment. This autotuning software is based on tilt-induced image shift (TIS) method. Values of defocus, astigmatism, and misalignment are determined from measurement of image shift vectors associated with different beam tilts. TEM AutoTune™ software is written as a standard plug-in to Gatan's DigitalMicrograph™ software and can be used with the Gatan family of CCD cameras.</p>
						<p>The microscope is software controlled via the standard RS232 serial interface. TEM AutoTune™ is easy to use and very flexible in setup. The auto tuning procedure works for a wide range of magnifications and is robust against the noise of an image. It is capable of aligning the microscope under low electron-dose conditions. This autotuning software offers higher speed and better accuracy than a human operator's perception. There is no restriction for the type of specimens used, so the software can be applied to both materials science and life science applications. It is an ideal and invaluable tool for both experts and novices alike.</p>
						<p></p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/TEM_autotune.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/digital_imaging/digi_software.gif">
		<h2>DigitalMontage® </h2>
		<h3>Photographic-quality Imaging with DigitalMontage®</h3>
	 	<p>By controlling the microscope stage or imaging optics DigitalMontage® enables an array of images to be acquired and stitched seamlessly together. The resulting montage shows specimen structure  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#montage">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="montage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">DigitalMontage®</h4>
		        		<h5>Photographic-quality Imaging with DigitalMontage®</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/digi_software.gif">
						<p>By controlling the microscope stage or imaging optics DigitalMontage® enables an array of images to be acquired and stitched seamlessly together. The resulting montage shows specimen structure at a resolution that would be impossible to collect even with cameras possessing tens of times more pixels! </p>
						<p>To offset the field of view of the camera DigitalMontage® can use either the microscope stage or the image-shift deflectors. At high magnifications it may be easier to stitch the images together if the image-shift deflectors are used to offset the field of view. At low magnifications the stage enables a larger area of the specimen to be covered and minimises the effecs of any optical distortion present in the system.</p>
						<p></p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/Digital_Montage.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->

	<div class="product">
		<img src="../img/product/digital_imaging/digi_software.gif">
		<h2> HREM AutoTune</h2>
		<h3>AutoTuning Software package for Your TEM</h3>
	 	<p>The Gatan HREM AutoTuning package facilitates HREM by automatically adjusting the critical imaging parameters of a TEM microscope focus, stigmation and beam tilt. ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#hrem">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="hrem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">HREM AutoTune</h4>
		        		<h5>AutoTuning Software package for Your TEM</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/digi_software.gif">
						<p>The Gatan HREM AutoTuning package facilitates HREM by automatically adjusting the critical imaging parameters of a TEM microscope focus, stigmation and beam tilt. The software features automatic analysis of diffractograms of an amorphous material. The results of the analysis determine which imaging parameter needs to be changed and by what amount for optimum microscope performance.</p>
						<p>DigitalMontage requires an active working RS-232 interface available on the TEM. Please consult your TEM manufacturer for availability.</p>
						<p></p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/HREM_AutoTune.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->

	<div class="product">
		<img src="../img/product/digital_imaging/digi_software.gif">
		<h2>DIFPACK </h2>
		<h3>Diffraction Analysis Package</h3>
	 	<p>Gatan DIFPACK (Diffraction Analysis Package) is an offline software package designed to automate the analysis of selected area electron diffraction (SAED) patterns and ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#difpack">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="difpack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">DIFPACK</h4>
		        		<h5>Diffraction Analysis Package</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/digi_software.gif">
						<p>Gatan DIFPACK (Diffraction Analysis Package) is an offline software package designed to automate the analysis of selected area electron diffraction (SAED) patterns and high resolution lattice images of crystalline samples. The software provides simple and accurate measurements of lattice spacings and the angle between two sets of lattice planes.</p>
						<p>DIFPACK software automatically keeps track of all measurements in different images and provides output which can be easily exported to any word processor or plotting applications.</p>
						<p>DIFPACK software is ideal tool for performing high precision magnification calibration.</p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/difpac.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->

	<div class="product">
		<img src="../img/product/digital_imaging/tomography.jpg">
		<h2>Tomography </h2>
		<h3>3D Tomography Acquisition Software </h3>
	 	<p>Electron tomography has become a popular means to determine three dimensional structures on a range of scales in materials ranging from biological samples to those typical of the semiconductor  ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#tomography">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="tomography" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Tomography</h4>
		        		<h5>3D Tomography Acquisition Software </h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/tomo_screen1.jpg">
						<p>Electron tomography has become a popular means to determine three dimensional structures on a range of scales in materials ranging from biological samples to those typical of the semiconductor industry. These diverse specimens, however, require a diverse number of techniques to best understand the material under study. Gatan now provides tomography acquisition software in DigitalMicrograph™ that makes it possible to collect a tomographic tilt series using TEM, STEM or EFTEM modes of operation. </p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/software/tomography.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->

<!-- 
	<div class="product">
		<img src="../img/product/digital_imaging/IP_Plus.jpg">
		<h2>Image-Pro® </h2>
		<h3>From MediaCybernetics for a complete Image Analysis solution</h3>
	 	<p>Used by thousands of researchers worldwide, Image-Pro Plus image analysis software makes it easy to acquire images, count, measure and classify objects, and automate your work. ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#imagepro">
				read more
			</button>
		</div>
		<div class="modal fade" id="imagepro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Image-Pro®</h4>
		        		<h5>From MediaCybernetics for a complete Image Analysis solution</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/IP_Plus.jpg">
						<p>Used by thousands of researchers worldwide, Image-Pro Plus image analysis software makes it easy to acquire images, count, measure and classify objects, and automate your work.</p>
						<p>Accurate image analysis begins with acquisition. Utilize the full precision of your capture equipment with easy-to-use capture tools. Image-Pro Plus supports a wide range of digital cameras, image capture cards, and other devices.</p>
						<p></p>
						<p></p>
						<p></p>
						<a href="http://www.mediacy.com/index.aspx?page=IPP" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</div>
	 -->

	<div class="product">
		<img src="../img/product/digital_imaging/digi_software.gif">
		<h2>DigitalMicrograph (DM) demonstration software  </h2>
		<h3> New to DigitalMicrograph?  Take a test drive of our latest version</h3>
	 	<p>DigitalMicrograph®, the core application of the Gatan Microscopy Suite® (GMS), is available for both 32-bit and 64-bit systems. ...</p>	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#micrography">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="micrography" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">DigitalMicrograph (DM) demonstration software </h4>
		        		<h5> New to DigitalMicrograph?  Take a test drive of our latest version</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/digi_software.gif">
						<p>DigitalMicrograph®, the core application of the Gatan Microscopy Suite® (GMS), is available for both 32-bit and 64-bit systems.</p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/resources/DM_License_Request/index.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
