	<div class="product">
		<img src="../img/product/digital_imaging/digi_ultrascan.gif">
		<h2> UltraScan®1000XP</h2>
		<h3>Model 994 TEM CCD Camera</h3>
	 	<p> The Model 994 UltraScan®1000XP replaces the highly acclaimed UltraScan® 1000 camera line, and with its introduction Gatan once again raises the performance standard in TEM scientific digital. ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#u1000xp">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="u1000xp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">UltraScan®1000XP</h4>
		        		<h5>Model 994 TEM CCD Camera</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/digi_ultrascan.gif">
						<p>The Model 994 UltraScan®1000XP replaces the highly acclaimed UltraScan® 1000 camera line, and with its introduction Gatan once again raises the performance standard in TEM scientific digital imaging. Redesigned from the ground up, the US1000XP combines state-of-the-art CCD electronics, Gatan’s next generation high-contrast resolution (HCR™) fiber-optic technology, and new P+ and U+ scintillators to achieve unrivaled performance in resolution, speed and sensitivity.</p>
						<p>The US1000XP uses Gatan’s next-generation high-contrast resolution (HCR+) fiber optic technology and newly developed scintillator technology to deliver the highest resolution large format camera available.</p>
						<p>A new class in itself, the US1000XP seamlessly blends in a single camera the ultimate image quality from the UltraScan series with the highest speed from the ORIUS series, opening up extraordinary possibilities in applications ranging from sub-Angstrom HREM to in-situ TEM, from electron diffraction to low dose cryoEM. Designed to be a reliable workhorse for years to come, the US1000XP is equally well suited for use by novices and experts, from the most routine to the most demanding EM investigations.</p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/994_Ultrascan_1000XP.php" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
	
	<div class="product">
		<img src="../img/product/digital_imaging/digi_ultrascan.gif">
		<h2>UltraScan™ 4000 </h2>
		<h3>Deliver an awesome 16 Million pixel resolution</h3>
	 	<p>The UltraScan™ 4000 is designed to deliver an awesome 16 Million pixel resolution and operation up to 400kV. The camera is Peltier cooled and offers full 16 bit dynamic range in the image. ...</p>	
	 	
	 	<div class="read-more">
			<button class="btn btn-primary" data-toggle="modal" data-target="#u4000">
				read more
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="u4000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">UltraScan™ 4000</h4>
		        		<h5>Deliver an awesome 16 Million pixel resolution</h5>
		      		</div>
		      		<div class="modal-body">
						<img src="../img/product/digital_imaging/digi_ultrascan.gif">
						<p>The UltraScan™ 4000 is designed to deliver an awesome 16 Million pixel resolution and operation up to 400kV. The camera is Peltier cooled and offers full 16 bit dynamic range in the image. Gatan set out to design this camera with one thought in mind: to deliver more. More pixels, more resolution, more speed and the very highest quality available.</p>
						<p>Combining the large format CCD with multi-channel readout means that high resolution and usability are a reality. The UltraScan 4000 is a showcase of firsts. First to use HCR™ optical technology, first to combine a large format CCD with multi-channel readout and first to offer a retractable camera that is compatible with GIF and ENFINA™ analytical spectrometers. Razor sharp images are guaranteed with this imaging system.</p>
						<p></p>
						<p></p>
						<p></p>
						<a href="http://www.gatan.com/products/digital_imaging/products/ultrascan/" target="_blank">read more</a>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div> <!-- end #myModal -->
	</div> <!-- end .product -->
